<div class="card-header">
    <h3 class="card-title">Upload Bank Slip</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" (click)="modalRef.hide()" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
    </div>
</div>
<div class="card-body">
    <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">

                    <div class="form-group row">
                        <label for="BankSlip" class="col-md-3 col-form-label">Bank Slip</label>
                        <div class="col-md-9">
                            
                            <input type="file" class="form-control" id="BankSlip" name="BankSlip" #BankSlip="ngModel"
                                ngModel placeholder="Bank Slip" required (change)="fileChange($event)">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <button type="button" class="btn btn-info m-1" [disabled]="!form.valid"
                            (click)="update()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>