<div class="card">
  <div class="card-header">
    {{ 'Model.SubcityStore.SubcityStoreStock' | translate }}
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col" *ngIf="currentUser.Role=='Bookstore Manager'">
        <div class="form-group">
            {{ 'Model.SubcityStore.Subcity' | translate }}
            <ng-select
              [items]="subcityList"
              [(ngModel)]="model.SubcityId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
              (change)="onSearch()"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookSubject' | translate }}
            <ng-select
              [items]="subjectList"
              [(ngModel)]="model.BookSubjectId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookLanguage' | translate }}
            <ng-select
              [items]="languageList"
              [(ngModel)]="model.BookLanguageId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookGrade' | translate }}
            <ng-select
              [items]="gradeLavelList"
              [(ngModel)]="model.BookGradeId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.SubcityStore.StockStatus' | translate }}
            <ng-select
              [items]="stockStatusList"
              [(ngModel)]="model.StockStatusId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group float-right">
          <label for="btnSearch" class="col-form-label"> </label>
            <button type="button" [disabled]="!model.SubcityId && currentUser.Role !='Subcity Manager'" class="btn btn-info"
              (click)="onSearch()">
              <i class="fas fa-search"></i> {{ 'Button.Search' | translate }}
                </button>
          </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <button *ngIf="requestedStockList.length>0 && currentUser.Role=='Bookstore Manager' && model.SubcityId" (click)="openDetailModal()" class="btn btn-primary">{{ 'Button.TransferStock' | translate }}</button>
        <button *ngIf="requestedStockList.length>0 && currentUser.Role=='Subcity Manager'" (click)="openDetailModal()" class="btn btn-primary">{{ 'Button.RequestForStock' | translate }}</button>
        <hr>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox" class="form-check"  #f (change)="onSelectAll(f.checked)" /></th>
              <th>#</th>
              <th> {{ 'Model.Book.BookSubject' | translate }}</th>
              <th> {{ 'Model.Book.BookGrade' | translate }}</th>
              <th> {{ 'Model.Book.BookLanguage' | translate }}</th>
              <th>{{ 'Model.Book.StockQuantity' | translate }}</th>
              <th>{{ 'Stock.Allocated' | translate }}</th>
              <th>{{ 'Model.SubcityStore.Status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let item of stockList; let i = index">
              <th><input  *ngIf="!item.IsRequested" type="checkbox" [disabled]="item.isDisabled" (change)="onSingleItemSelect(item.Id,item.isChecked)" class="form-check" [(ngModel)]="item.isChecked" /></th>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item ? item.BookSubject.Name : "" }}</td>
              <td>
                {{ item ? item.BookGrade.Name : "" }}
              </td>
              <td>
                {{ item ? item.BookLanguage.Name : "" }}
              </td>
              <td style="font-size: 18px;">{{ item.AvailableQty }}</td>
              <td style="font-size: 18px;">{{ item.AllocatedQty }}</td>
              <td *ngIf="item.IsRequested"><span class=" badge badge-primary">Requested</span></td>
              <td *ngIf="!item.IsRequested"><span class=" badge badge-warning">Not Requested</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

