<div class="card-header bg-info">
    <h3 class="card-title ">{{ 'Model.School.UpdateSchool' | translate }}</h3>

    <button type="button" class="close pull-right" style="color: white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.SchoolName' | translate }}
            <div>
              <input
                type="text"
                class="form-control"
                id="Name"
                name="Name"
                #Name="ngModel"
                [(ngModel)]="model.Name"
                placeholder="Enter School Name"
                required
              />
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.Subcity' | translate }}
            <ng-select
              [items]="schoolSubcityList"
              [(ngModel)]="model.SchoolSubcityId"
              [ngModelOptions]="{standalone: true}"
              bindLabel="Name"
              bindValue="Id"
              placeholder="Select a Subcity"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.Woreda' | translate }}
            <ng-select
              [items]="schoolWoredaList"
              [(ngModel)]="model.SchoolWoredaId"
              [ngModelOptions]="{standalone: true}"
              bindLabel="Name"
              bindValue="Id"
              placeholder="Select Woreda"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.Woreda1' | translate }}
            <ng-select
              [items]="schoolWoreda1List"
              [(ngModel)]="model.Woreda1Id"
              [ngModelOptions]="{standalone: true}"
              bindLabel="Name"
              bindValue="Id"
              placeholder="Select Woreda 1"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.Level' | translate }}
            <ng-select
              [items]="schoolLavelList"
              [(ngModel)]="model.SchoolLavelId"
              [ngModelOptions]="{standalone: true}"
              bindLabel="Name"
              bindValue="Id"
              placeholder="Select Level"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            {{ 'Model.School.Ownership' | translate }}
            <ng-select
              [items]="schoolOwnershipList"
              [(ngModel)]="model.SchoolOwnershipId"
              [ngModelOptions]="{standalone: true}"
              bindLabel="Name"
              bindValue="Id"
              placeholder="Select Ownership"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.NumberOfStudents' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="NumberOfStudent"
                    name="NumberOfStudent"
                    #NumberOfStudent="ngModel"
                    [(ngModel)]="model.NumberOfStudent"
                    placeholder="Enter School Number Of Student"
                    required
                  />
                </div>
              </div>
            </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-form-label"></label>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-3 m-1"
                [disabled]="!form.valid || !model.SchoolSubcityId || !model.SchoolWoredaId || !model.Woreda1Id || !model.SchoolLavelId || !model.SchoolOwnershipId"
                (click)="onUpdate()"
              >
                <i class="fas fa-edit"></i>&nbsp; &nbsp;{{ 'Button.Update' | translate }}
              </button>
              <button type="button" class="btn btn-default m-1 col-md-3" (click)="reset()">{{ 'Button.Cancel' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>




<!-- <div class="card-header">
    <h3 class="card-title">Create {{title}}</h3>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
    <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">

                    <div class="form-group row">
                        <label for="Name" class="col-md-3 col-form-label">Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel"
                                [(ngModel)]="model.Name" placeholder="Name" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="SchoolSubcityId" class="col-md-3 col-form-label">School Subcity</label>
                        <div class="col-md-7">
                            <select class="form-control" id="SchoolSubcityId" name="SchoolSubcityId"
                                #SchoolSubcityId="ngModel" [(ngModel)]="model.SchoolSubcityId">
                                <option *ngFor="let item of schoolSubcityList" [value]="item.Id">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SchoolWoredaId" class="col-md-3 col-form-label"> School Woreda</label>
                        <div class="col-md-7">
                            <select class="form-control" id="SchoolWoredaId" name="SchoolWoredaId"
                                #SchoolWoredaId="ngModel" [(ngModel)]="model.SchoolWoredaId">
                                <option *ngFor="let item of schoolWoredaList" [value]="item.Id">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SchoolLavelId" class="col-md-3 col-form-label"> School Lavel</label>
                        <div class="col-md-7">
                            <select class="form-control" id="SchoolLavelId" name="SchoolLavelId"
                                #SchoolLavelId="ngModel" [(ngModel)]="model.SchoolLavelId">
                                <option *ngFor="let item of schoolLavelList" [value]="item.Id">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SchoolOwnershipId" class="col-md-3 col-form-label">School Ownership </label>
                        <div class="col-md-7">
                            <select class="form-control" id="SchoolOwnershipId" name="SchoolOwnershipId"
                                #SchoolOwnershipId="ngModel" [(ngModel)]="model.SchoolOwnershipId">
                                <option *ngFor="let item of schoolOwnershipList" [value]="item.Id">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <button type="button" class="btn btn-info m-1" [disabled]="!form.valid"
                            (click)="onSubmit()">{{editMode?'Update':'Save'}} </button>
                        <button type="button" class="btn btn-default m-1" (click)="reset()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> -->