<div class="card card-primary">

  
  <div class="card-header">
    <h3 class="card-title">{{ 'Aside.BudgetTransactionReport' | translate }}</h3>
  </div>
  <div class="card-body">

        <hr />

    <div class="row">

      <div class="col">
        <div class="form-group">
          {{ 'Report.StartDate' | translate }}
          <div>
            <input type="text" placeholder="Start Date"  class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.FromDate" name="FromDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ 'Report.EndDate' | translate }}
          <div>
            <input type="text" placeholder="End Date" class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.ToDate" name="ToDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">
        {{ 'Report.BudgetType' | translate }}
        <ng-select [items]="BudgetTypeList" [(ngModel)]="searchVm.BudgetTypeId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-10 mt-3">
        <button class="btn bg-gradient-primary btn-block" (click)="getBySearch()">
          <i class="fa fa-search"></i> {{ 'Button.Search' | translate }}
        </button>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        <button  *ngIf="budgetList.length>0" class="btn btn-success" (click)="exportAsExcel()"> <i class=" fas fa-file-excel"></i> {{ 'Button.ExportAsExcel' | translate }}</button>
        <hr>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Budget.BudgetType' | translate }}</th>
              <th>{{ 'Model.Budget.Date' | translate }}</th>
              <th>{{ 'Model.Budget.Amount' | translate }}</th>
              <th>{{ 'Model.Budget.Description' | translate }}</th>
              <th>{{ 'Model.Budget.CompanyName' | translate }}</th>
              <th>{{ 'Model.Budget.CompanyAddress' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of budgetList; let i=index">
              <td scope="row">{{i+1}}</td>
              <td>{{item.BudgetType?item.BudgetType.Name:""}}</td>
              <td>{{item.BudgetDate | date}}</td>
              <td>{{item.Amount?item.Amount:"-"}}</td>
              <td>{{item.Description?item.Description:"-"}}</td>
              <td>{{item.CompanyName?item.CompanyName:"-"}}</td>
              <td>{{item.CompanyAddress?item.CompanyAddress:"-"}}</td>
            </tr>
            <tr *ngIf="!budgetList" class="text-center">
              <td colspan="7">
                <h6>Loading data...</h6>
              </td>
            </tr>
            <tr *ngIf="budgetList && budgetList.length==0" class="text-center">
              <td colspan="7">
                <h6>There are no record</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




