<div class="card card-primary"> 
  <div class="card-header">
    <h3 class="card-title">{{ 'Model.School.SchoolList' | translate }}</h3>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col">
        <a *ngIf="currentUser.Role=='Main Admin'" class="btn m-1 btn-sm bg-gradient-success" [routerLink]="[createLink]">
          <i class="fas fa-plus"></i> {{ 'Button.CreateNew' | translate }}</a>
          </div>
      </div>
  <hr>
    <div class="row">
  
      <div class="col">
        {{ 'Model.School.SchoolName' | translate }}
        <ng-select [items]="schoolList"  [(ngModel)]="model.Id" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
  
      <div class="col">
        {{ 'Model.School.Subcity' | translate }}
        <ng-select [items]="schoolSubcityList"  [(ngModel)]="model.SchoolSubcityId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
      <div class="col">
        {{ 'Model.School.Woreda' | translate }}
        <ng-select [items]="schoolWoredaList" [(ngModel)]="model.SchoolWoredaId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
    </div>
  
    <div class="row">
  
      <div class="col">
        {{ 'Model.School.Woreda1' | translate }}
        <ng-select [items]="schoolWoreda1List" [(ngModel)]="model.Woreda1Id" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
  
      <div class="col">
        {{ 'Model.School.Level' | translate }}
        <ng-select [items]="schoolLavelList" [(ngModel)]="model.SchoolLavelId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
      <div class="col">
        {{ 'Model.School.Ownership' | translate }}
        <ng-select [items]="schoolOwnershipList" [(ngModel)]="model.SchoolOwnershipId"  bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-2 offset-10 mt-3">
            
          <button class="btn bg-gradient-primary btn-block" (click)="onSearch()">
              <i class="fa fa-search" ></i>  {{ 'Button.Search' | translate }}
          </button>
        </div>
    </div>
  
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.School.SchoolName' | translate }}</th>
              <th>{{ 'Model.School.Subcity' | translate }}</th>
              <th>{{ 'Model.School.Woreda' | translate }}</th>
              <th>{{ 'Model.School.Woreda1' | translate }}</th>
              <th>{{ 'Model.School.Level' | translate }}</th>
              <th>{{ 'Model.School.Ownership' | translate }}</th>
              <th *ngIf="currentUser.Role=='Main Admin'">{{ 'Button.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of modelList | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index ">
              
              <th scope="row">{{(p*10-10+1)+i}}</th>
              <td>{{item.Name?item.Name:""}}</td>
              <td>{{item.SchoolSubcity.Name? item.SchoolSubcity.Name :""}}</td>
              <td>{{item.SchoolWoreda.Name ? item.SchoolWoreda.Name: ""}}</td>
              <td>{{item.Woreda1.Name? item.Woreda1.Name: ""}}</td>
              <td>{{item.SchoolLavel.Name ? item.SchoolLavel.Name: ""}}</td>
              <td>{{item.SchoolOwnership.Name? item.SchoolOwnership.Name: ""}}</td>
              <td *ngIf="currentUser.Role=='Main Admin'">
                <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="onDetail(item.Id)">
                  <i class="fas fa-eye"></i> 
                </button>
                <button type="button" class="btn m-1 btn-sm btn-primary" title="Edit" (click)="onEdit(item.Id)">
                  <i class="fas fa-pencil-alt"> </i>
                </button>
                <button type="button" class="btn m-1 btn-sm btn-danger" title="Delete" (click)="onDelete(item.Id,item,apiUrl)">
                  <i class="fas fa-trash"></i> 
                </button>
              </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
              <td colspan="7">
                <h6>Loading data...</h6>
              </td>
            </tr>
            <tr *ngIf="modelList && modelList.length==0" class="text-center">
              <td colspan="7">
                <h6>There are no record</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>