<div class="card card-info">
  <div class="card-header">
    {{ 'Model.Supplier.SupplierDetail' | translate }}
    <button type="button" style="color: white;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <ng-container *ngIf="model != null">
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.SupplierName' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Name: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Mobile' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Mobile: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Phone' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Phone: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Email' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Email: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Contact' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Contact: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Fax' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Fax: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.City' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.City: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.State' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.State: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.ZipCode' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.ZipCode: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Country' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Country: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Address' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Address: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Address2' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Address2: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.Details' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Details: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.Supplier.PreviousCreditBalance' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.PreviousCreditBalance: "" }}</div>
      </div>

    </ng-container>
  </div>
</div>

