<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>{{ 'Model.PurchaseBook.Date' | translate }}</th>
      <th>{{ 'Model.PurchaseBook.RequestedBy' | translate }}</th>
      <!-- <th>Purchase Department</th> -->
      <th>{{ 'Model.PurchaseBook.Status' | translate }}</th>
      <th>{{ 'Model.PurchaseBook.Actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of purchaseList; let i=index">
      <td scope="row">{{i+1}}</td>
      <td>{{item.CreateDate | date}}</td>
      <td>{{item.BookstoreEmployee.FullName}}</td>
      <!-- <td>{{item.PurcahseDeptEmployee.FullName}}</td> -->



      <!--  Status==1 -> Pending
                Status==2 -> Be Purchased
                Status==3 -> Purchase Completed
                Status==4 -> Reject -->

      <td *ngIf="currentUser.Role=='Bookstore Manager'">
        <span *ngIf="item.Status==1" class="badge badge-warning">Pending</span>
        <span *ngIf="item.Status==2" class="badge badge-success">Approved</span>
        <span *ngIf="item.Status==3" class="badge badge-primary">Purchase Completed</span>
        <span *ngIf="item.Status==4" class="badge badge-danger">Reject</span>
      </td>

      <td *ngIf="currentUser.Role=='Bookstore Employe'">
        <span *ngIf="item.Status==1" class="badge badge-warning">Under-Review</span>
        <span *ngIf="item.Status==3" class="badge badge-primary">Purchase Completed</span>
        <span *ngIf="item.Status==4" class="badge badge-danger">Reject</span>
      </td>

      <td *ngIf="currentUser.Role=='Purchase Department'">
        <span *ngIf="item.Status==2" class="badge badge-warning">To Be Purchased</span>
        <span *ngIf="item.Status==3" class="badge badge-primary">Purchase Completed</span>
        <span *ngIf="item.Status==4" class="badge badge-danger">Reject</span>
      </td>

      <td>
        <button class="btn btn-info btn-sm" (click)="openDetailModal(item.Id)"><i class="fas fa-eye"></i> {{ 'Button.Detail' | translate }}</button>
        <button *ngIf="currentUser.Role !='School Employee' && item.Status==3" type="button"
          class="btn m-1 btn-sm btn-success" (click)="onClickReceipt(item.Id)"><i class="far fa-file-alt"></i> {{ 'Button.Receipt' | translate }}
        </button>
      </td>
     

      <!-- <td>
                <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)"> Detail </button>
                <button *ngIf="currentUser.Role=='School Employee'" type="button" class="btn m-1 btn-sm btn-primary"
                    (click)="onEdit(item.Id)"> Edit </button>
                <button *ngIf="currentUser.Role=='School Employee'" type="button" class="btn m-1 btn-sm btn-danger"
                    (click)="onDelete(item.Id,apiUrl)"> Delete
                </button>
                <button *ngIf="currentUser.Role=='School Employee' && item.Status==2" type="button"
                    class="btn m-1 btn-sm btn-info" (click)="openFileUploadModal(item.Id)"> Upload Bank Slip
                </button>
            </td> -->
    </tr>
    <tr *ngIf="!purchaseList" class="text-center">
      <td colspan="7">
        <h6>Loading data...</h6>
      </td>
    </tr>
    <tr *ngIf="purchaseList && purchaseList.length==0" class="text-center">
      <td colspan="7">
        <h6>There are no record</h6>
      </td>
    </tr>
  </tbody>
</table>
