<div class="card card-primary">
  <div class="card-header">
    {{ 'Model.Order.OrderDetails' | translate }}
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      style="color: white"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <ng-container *ngIf="model != null">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.TrackingNo' | translate }}:</b></div>
            <div class="col-sm-7">
              {{ model.TrackingNo ? model.TrackingNo : "" }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.Amount' | translate }}:</b></div>
            <div class="col-sm-7">{{ model.Amount }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.BookstoreEmployee' | translate }}:</b></div>
            <div class="col-sm-7">
              {{
                model.BookstoreEmployee ? model.BookstoreEmployee.FullName : ""
              }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.Note' | translate }}:</b></div>
            <div class="col-sm-7">{{ model.Note }}</div>
          </div>

          <div class="row" *ngIf="model.ReasonForReject">
            <div class="col-sm-5"><b>{{ 'Model.Order.ReasonForReject' | translate }}:</b></div>
            <div class="col-sm-7">{{ model.ReasonForReject }}</div>
          </div>

          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.BankSlip' | translate }} :</b></div>
            <!-- <div
              class="col-sm-7"
              *ngIf="
                model.School ? model.School.SchoolOwnership.Name == 'Govt.' : ''
              "
            >
              No Need
            </div> -->
            <div
              class="col-sm-7"
              *ngIf="
                 model.File != ''
              "
            >
              <button
                class="btn btn-primary btn-sm"
                (click)="downloadFile(model.File)"
              >
                {{ 'Model.Order.SeeUploadedFile' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.OrderNo' | translate }}:</b></div>
            <div class="col-sm-7">
              {{ model.OrderId ? model.OrderId : "" }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.OrderDate' | translate }}:</b></div>
            <div class="col-sm-7">{{ model.OrderDate | date }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.SchoolName' | translate }}:</b></div>
            <div class="col-sm-7">
              {{ model.School ? model.School.Name : "" }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.NumberOfStudent' | translate }}:</b></div>
            <div class="col-sm-7">
              {{ model.School ? model.School.NumberOfStudent : "" }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.Order.SchoolEmployee' | translate }}:</b></div>
            <div class="col-sm-7">
              {{ model.SchoolEmployee ? model.SchoolEmployee.FullName : "" }}
            </div>
          </div>
          
          <div class="row" *ngIf="model.BookstoreManager">
            <div class="col-sm-5"><b>{{ 'Model.Order.BookstoreManager' | translate }}:</b></div>
            <div class="col-sm-7">
              {{
                model.BookstoreManager ? model.BookstoreManager.FullName : ""
              }}
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
                <div class="col-sm-5"><b>Status:</b></div>
                <div class="col-sm-7">{{model.Status}}</div>
              </div> -->

      <br />
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'Model.Order.Subject' | translate }}</th>
            <th>{{ 'Model.Order.Grade' | translate }}</th>
            <th>{{ 'Model.Order.Language' | translate }}</th>
            <th>{{ 'Model.Order.Quantity' | translate }}</th>
            <th
              *ngIf="currentUser.Role == 'Bookstore Employee' && model.BookstoreEmployeeStatus ==1"
            >
              {{ 'Model.Order.AvailableQuantiy' | translate }}
            </th>
            <th *ngIf="currentUser.Role == 'School Employee'">{{ 'Model.Order.UnitPrice' | translate }}</th>
            <th *ngIf="currentUser.Role == 'School Employee'">{{ 'Model.Order.TotalPrice' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model.OrderLines; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
            <td>
              {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}
            </td>
            <td>
              {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
            </td>
            <td>{{ item.Quantity }}</td>
            <td
              *ngIf="currentUser.Role == 'Bookstore Employee' && model.BookstoreEmployeeStatus ==1"
            >
              {{ item.AvailableQty }}
            </td>
            <td *ngIf="currentUser.Role == 'School Employee'">
              {{ item.BookPrice }}
            </td>
            <td *ngIf="currentUser.Role == 'School Employee'">
              {{ item.Quantity * item.BookPrice }}
            </td>
          </tr>
        </tbody>
      </table>

      <ng-container *ngIf="currentUser.Role == 'Bookstore Employee'">
        <hr />
        <div
          *ngIf="
            !outOfStock &&
            model.IsRequestedToManger == false &&
            model.BookstoreEmployeeStatus != 6
          "
        >
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'Model.Order.BookstoreManager' | translate }}</label>
              <ng-select
                [items]="managerList"
                bindLabel="FullName"
                bindValue="Id"
                id="BookGradeId"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.BookstoreManagerId"
                placeholder="Select a Manager"
                required
              >
              </ng-select>
            </div>
            <button
              [disabled]="!model.BookstoreManagerId"
              class="btn btn-sm btn-primary"
              (click)="requestTOManager()"
            >
              {{ 'Model.Order.RequestToManager' | translate }}
            </button>
          </div>
        </div>
        <div class="col-6" *ngIf="outOfStock && isAvailable">
          <div class="form-group">
              <label class="control-label">{{ 'Model.Order.BookstoreManager' | translate }}</label>
              <ng-select
                [items]="managerList"
                bindLabel="FullName"
                bindValue="Id"
                id="BookGradeId"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.BookstoreManagerId"
                placeholder="Select a Manager"
                required
              >
              </ng-select>
            </div>
            <button *ngIf="outOfStock && isAvailable" 
        (click)="onRequestToManagerForAvailable()" 
        class="btn btn-sm btn-success" [disabled]="!model.BookstoreManagerId">
        {{ 'Model.Order.RequestToManagerForAvailableBooks' | translate }}</button><br><br>
        </div>
        
        <button
          class="btn btn-sm btn-primary"
          *ngIf="outOfStock && model.IsRequestedToPurchase == false && !model.IsRequestedToManger"
          (click)="onRequestForPurchase()"
        >
          {{ 'Model.Order.RequestForPurchase' | translate }}
        </button>
        <button
          class="btn btn-sm btn-primary"
          *ngIf="model.IsRequestedToPurchase && outOfStock && !model.IsRequestedToManger"
          disabled
        >
          {{ 'Model.Order.AlreadyRequestedForPurchase' | translate }}
        </button>

        <div
          *ngIf="
            model.BookstoreEmployeeStatus != 6 &&
            model.BookstoreEmployeeStatus != 5 &&
            model.BookstoreEmployeeStatus != 7
          "
          class="mt-3"
        >
          <button
            *ngIf="model.BookstoreManagerStatus == 2"
            class="btn btn-sm m-1 btn-info"
            (click)="onBookstoreEmployeeApprove()"
          >
            {{ 'Button.Approve' | translate }}
          </button>

          <button
            *ngIf="outOfStock && model.BookstoreEmployeeStatus != 8 && !model.IsRequestedToManger && !isAvailable"
            class="btn btn-sm btn-warning mb-2"
            (click)="onOutOfStock()"
          >
            {{ 'Button.OutOfStock' | translate }}
          </button>

          <div class="form-group" *ngIf="model.BookstoreEmployeeStatus !=2">
            <!-- <label for="ReasonForReject" class="col-form-label">*If Reject then Explain</label> -->
            <textarea
              cols="3"
              class="form-control col-6"
              id="ReasonForReject"
              name="ReasonForReject"
              #ReasonForReject="ngModel"
              [(ngModel)]="model.ReasonForReject"
              placeholder="Explain the Reason if Reject"
              required
            ></textarea>
            <button
    
              class="btn btn-sm btn-danger m-1"
              (click)="onBookstoreEmployeeReject()"
              [disabled]="!model.ReasonForReject"
            >
              {{ 'Button.Reject' | translate }}
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="currentUser.Role == 'Bookstore Manager'">
        <div *ngIf="model.BookstoreManagerStatus == 1">
          <hr />
          <button class="btn m-1 btn-sm btn-info" (click)="onManagerApprove()">
            {{ 'Button.Approve' | translate }}
          </button>

          <textarea
            cols="3"
            class="form-control col-6"
            id="ReasonForReject"
            name="ReasonForReject"
            #ReasonForReject="ngModel"
            [(ngModel)]="model.ReasonForReject"
            placeholder="Explain the Reason if Reject"
            required
          ></textarea>

          <button
            class="btn m-1 btn-sm btn-danger"
            [disabled]="!model.ReasonForReject"
            (click)="onManagerReject()"
          >
            {{ 'Button.Reject' | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
