<div class="modal-header">
  <h4 class="modal-title pull-left"> {{ 'Delete.Confirmation' | translate }} !! </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>{{ 'Delete.Message' | translate }} !! </h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-space btn-sm btn-secondary" (click)="modalRef.hide()">{{ 'Delete.Cancel' | translate }} </button>
  <button type="button" class="btn btn-space btn-sm btn-danger" (click)="onDelete()">{{ 'Delete.Confirm' | translate }} </button>

</div>