<div class="card card-info">
  <div class="card-header">
    {{ 'Model.User.UserDetail' | translate }}
    <button type="button" style="color: white" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <ng-container *ngIf="model != null">
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.FirstName' | translate }}</b></div>
            <div class="col-sm-7">{{ model.FirstName }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.SecondName' | translate }}</b></div>
            <div class="col-sm-7">{{ model.SecondName }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.LastName' | translate }}</b></div>
            <div class="col-sm-7">{{ model.LastName }}</div>
          </div>
          <div class="row" *ngIf="model.SchoolId">
            <div class="col-sm-5"><b>{{ 'Model.User.SchoolName' | translate }}</b></div>
            <div class="col-sm-7">{{ model.School.Name }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Email' | translate }}</b></div>
            <div class="col-sm-7">{{ model.Email }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Password' | translate }}</b></div>
            <div class="col-sm-7">{{ model.Password }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Role' | translate }}</b></div>
            <div class="col-sm-7">{{model.Role? model.Role.Name:"" }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Subcity' | translate }}</b></div>
            <div class="col-sm-7">{{ model.Subcity ? model.Subcity.Name: "" }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Woreda' | translate }}</b></div>
            <div class="col-sm-7">{{model.Woreda? model.Woreda.Name:"" }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Region' | translate }}</b></div>
            <div class="col-sm-7">{{model.Region ? model.Region.Name:"" }}</div>
          </div>
          <div class="row" *ngIf="model.SchoolId">
            <div class="col-sm-5"><b>{{ 'Model.User.Ownership' | translate }}</b></div>
            <div class="col-sm-7">{{ model.Ownership.Name }}</div>
          </div>
          <div class="row" *ngIf="model.SchoolId">
            <div class="col-sm-5"><b>{{ 'Model.User.SchoolLevel' | translate }}</b></div>
            <div class="col-sm-7">{{ model.SchoolLavel.Name }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.PhoneNumber' | translate }}</b></div>
            <div class="col-sm-7">{{model.PhoneNumber ? model.PhoneNumber:"" }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Address' | translate }}</b></div>
            <div class="col-sm-7">{{model.Address ? model.Address:"" }}</div>
          </div>
          <div class="row">
            <div class="col-sm-5"><b>{{ 'Model.User.Status' | translate }}</b></div>
            <div class="col-sm-7">{{model.IsActive ? "Active":"Inactive" }}</div>
          </div>





        </ng-container>
      </div>
      <div class="col">
          <div *ngIf="model.Photograph"><img class="img img-thumbnail"  [src]="imgSrc" width="300" height="300" /></div>

      <div *ngIf="!model.Photograph"><img class="img img-thumbnail" src="../../../../../../assets/img/no-image.png" width="300" height="300" /></div>
      
      </div>
    </div>
    <div  *ngIf="!model.IsApproved">
      <hr>
      <button class="btn btn-success" (click)="onApproved()"><i class="fas fa-check"></i> Approve</button>
    </div>


  </div>
</div>
