<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ 'Report.LogAuditList' | translate }}</h3>
  </div>
  <div class="card-body">

        <hr />

    <div class="row">

      <div class="col">
        <div class="form-group">
          {{ 'Report.StartDate' | translate }}
          <div>
            <input type="text" placeholder="Start Date"  class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.FromDate" name="FromDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ 'Report.EndDate' | translate }}
          <div>
            <input type="text" placeholder="End Date" class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.ToDate" name="ToDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">
        {{ 'Report.Username' | translate }}
        <ng-select [items]="userList" [(ngModel)]= "searchVm.UserId" bindLabel="Email" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-10 mt-3">
        <button class="btn bg-gradient-primary btn-block" (click)="getBySearch()">
          <i class="fa fa-search"></i> {{ 'Button.Search' | translate }}
        </button>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Report.Url' | translate }}</th>
              <th>{{ 'Report.UserName' | translate }}</th>
              <th>{{ 'Report.Date&Time' | translate }}</th>
              <th *ngIf="currentUser.Role=='Main Admin'">{{ 'Report.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activityList | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index ">
              
              <th scope="row">{{(p*10-10+1)+i}}</th>
              <td>{{item.Url?item.Url:""}}</td>
              <td>{{item.UserName? item.UserName :""}}</td>
              <td>{{item.Date | date:'medium'}}</td>
              <!-- <td><pre>{{item.Data | json}}</pre> </td> -->
              <td *ngIf="currentUser.Role=='Main Admin'">
                <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="openDataModal(item.Data)">
                  <i class="fas fa-eye"></i> {{ 'Report.DataDetail' | translate }}
                </button>
                <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="openDetailModal(item.UserId)">
                  <i class="fas fa-eye"></i> {{ 'Report.UserDetail' | translate }}
                </button>
                
                <!-- <button type="button" class="btn m-1 btn-sm btn-danger" title="Delete" (click)="onDelete(item.Id,apiUrl)">
                  <i class="fas fa-trash"></i> 
                </button> -->
              </td>
            </tr>
            <tr *ngIf="!activityList" class="text-center">
              <td colspan="7">
                <h6>Loading data...</h6>
              </td>
            </tr>
            <tr *ngIf="activityList && activityList.length==0" class="text-center">
              <td colspan="7">
                <h6>There are no record</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
