<div class="card">
  <div class="card-header">
    {{ 'FormTitle.LowBookStock' | translate }}
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-md-12">


        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Book.BookSubject' | translate }}</th>
              <th>{{ 'Model.Book.BookGrade' | translate }}</th>
              <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
              <th>{{ 'Model.Book.StockQuantity' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of stockList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item ? item.BookSubject.Name : "" }}</td>
              <td>
                {{ item ? item.BookGrade.Name : "" }}
              </td>
              <td>
                {{ item ? item.BookLanguage.Name : "" }}
              </td>
              <td style="font-size: 18px;">{{ item.AvailableQty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
