<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ 'Report.PurchaseList' | translate }}</h3>
  </div>
  <div class="card-body">
    <hr />

    <div class="row">

      <div class="col">
        <div class="form-group">
          {{ 'Report.StartDate' | translate }}
          <div>
            <input type="text" placeholder="Select Start Date"  class="form-control" bsDatepicker 
              [(ngModel)]="searchVm.FromDate" name="FromDate" autocomplete="off" />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ 'Report.EndDate' | translate }}
          <div>
            <input type="text" placeholder="Select End Date" class="form-control" bsDatepicker 
              [(ngModel)]="searchVm.ToDate" name="ToDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">

        <div class="form-group">
            {{ 'Report.BudgetType' | translate }}
            <div class="">
             <ng-select [items]="budgetTypeList" [(ngModel)]="searchVm.BudgetTypeId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
            </div>
          </div>
      </div>

      <div class="col">
        {{ 'Report.Supplier' | translate }}
        <ng-select [items]="supplierList" [(ngModel)]="searchVm.SupplierId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>

      <div class="col">
              <div class="form-group">
                {{ 'Report.PurchaseNo' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="PurchaseId"
                    name="PurchaseId"
                    #TrackingNo="ngModel"
                    [(ngModel)]="searchVm.PurchaseId"
                    placeholder="Search By Purchase-No"
                    required
                  />
                </div>
              </div>
            </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-10 mt-3">
        <button class="btn bg-gradient-primary btn-block" (click)="getBySearch()">
          <i class="fa fa-search"></i> {{ 'Button.Search' | translate }}
        </button>
      </div>
    </div>
    <hr />

    <button class="btn btn-success" *ngIf="modelList.length>0" (click)="exportAsExcel()">Export as Excel</button>
    <hr>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'Report.PurchaseNo' | translate }}</th>
        <th>{{ 'Report.PurchaseDate' | translate }}</th>    
        <th>{{ 'Report.PurchasedBy' | translate }}</th>
        <th>{{ 'Report.Amount' | translate }}</th>
        <th>{{ 'Report.BudgetType' | translate }}</th>
        <th>{{ 'Report.Supplier' | translate }}</th>
        <!-- <th *ngIf="currentUser.Role=='Bookstore Employee'">Reviewed By Manager</th> -->
        <th>{{ 'Report.Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of modelList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.PurchaseId}}</td>
        <td>{{item.PurchaseDate| date}}</td>     
        <td>{{item.PurcahseDeptEmployee.FullName}}</td>
        <td>{{item.Amount}}</td>
        <td>{{item.BudgetType.Name}}</td>
        <td>{{item.Supplier.Name}}</td>
        
        <td>
        <button type="button" class="btn m-1 btn-sm btn-info" (click)="openDetailModal(item.Id)"> <i class="fas fa-eye"></i> </button>
          <button *ngIf="currentUser.Role !='School Employee'" type="button"
            class="btn m-1 btn-sm btn-success" (click)="onClickReceipt(item.Id)"> <i class="far fa-file-alt"></i> {{ 'Button.Receipt' | translate }}
          </button>
        </td>

      </tr>
      <tr *ngIf="!modelList" class="text-center">
        <td colspan="7">
          <h6>Loading data...</h6>
        </td>
      </tr>
      <tr *ngIf="modelList && modelList.length==0" class="text-center">
        <td colspan="7">
          <h6>There are no record</h6>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

