<div class="background"></div>

<div class="login-wrap">
  <div class="login-html" style="margin-top: 6rem">
    <img
      src="../../../../../assets/img/company-logo.jpg"
      width="250"
      class="img-rounded"
      style="display: block; margin: 0 auto"
    /><br />
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Sign In</label
    >
    <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
      for="tab-2"
      class="tab"
    ></label>
    <div class="login-form">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input
              id="user"
              type="text"
              class="input"
              id="Email"
              name="Email"
              #Email="ngModel"
              ngModel
              placeholder="Enter your Email"
              autocomplete="off"
            />
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input
              id="pass"
              type="password"
              class="input"
              data-type="password"
              id="Password"
              name="Password"
              #Password="ngModel"
              ngModel
              type="password"
              placeholder="Enter your Password"
              autocomplete="off"
            />
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked />
            <label for="check"
              ><span class="icon"></span> Keep me Signed in</label
            >
          </div>
          <div class="group">
            <input type="submit" class="button" value="Sign In" />
          </div>
          <div class="foot-lnk">
            <p style="color: white">
              Sign up as &nbsp;
              <a  style="color:rgb(0, 162, 255);cursor: pointer;" (click)="onSingUp('School User')"><i> School User </i></a>  &nbsp; Or &nbsp;
              <a  style="color: rgb(0, 162, 255);cursor: pointer;" (click)="onSingUp('Bookstore Employee')"><i> Bookstore Employee </i> </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
