<div class="card-header">
  <h3 class="card-title">{{ 'Model.Book.BookList' | translate }}</h3>
</div>
<div class="card-body">
  <a class="btn m-1 btn-sm btn-info" [routerLink]="[createLink]">{{ 'Button.CreateNew' | translate }}</a>
  <hr>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'Model.Book.BookSubject' | translate }}</th>
        <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
        <th>{{ 'Model.Book.BookGrade' | translate }}</th>
        <th>{{ 'Model.Book.PurchasePrice' | translate }}</th>
        <th>{{ 'Model.Book.SalesPrice' | translate }}</th>
        <th>{{ 'Model.Book.Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of modelList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.BookSubject.Name }}</td>
        <td>{{ item.BookLanguage.Name }}</td>
        <td>{{ item.BookGradeLavel.Name }}</td>
        <td>{{ item.PurchasePrice }}</td>
        <td>{{ item.SalePrice }}</td>
        <td>
         <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="onDetail(item.Id)">
                  <i class="fas fa-eye"></i> 
                </button>
                <button type="button" class="btn m-1 btn-sm btn-primary" title="Edit" (click)="onEdit(item.Id)">
                  <i class="fas fa-pencil-alt"> </i>
                </button>
                <button type="button" class="btn m-1 btn-sm btn-danger" title="Delete" (click)="onDelete(item.Id,item,apiUrl)">
                  <i class="fas fa-trash"></i> 
                </button>
        </td>
      </tr>
      <tr *ngIf="!modelList" class="text-center">
        <td colspan="7">
          <h6>Loading data...</h6>
        </td>
      </tr>
      <tr *ngIf="modelList && modelList.length == 0" class="text-center">
        <td colspan="7">
          <h6>There are no record</h6>
        </td>
      </tr>
    </tbody>
  </table>
</div>
