<div class="card-header">
    <h3 class="card-title">{{title}} List</h3>
</div>
<div class="card-body">
    <a *ngIf="currentUser.Role=='School Employee'" class="btn m-1 btn-sm btn-info" [routerLink]="[createLink]">Create
        New</a>

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>School Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Note</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of modelList; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.School.Name}}</td>
                <td>{{item.OrderDate| date}}</td>
                <td>{{item.Amount}}</td>
                <td>{{item.Note}}</td>
                <td>
                    <span *ngIf="item.Status==1" class="badge badge-warning">Under Review</span>
                    <span *ngIf="item.Status==2" class="badge badge-primary">Approved</span>
                    <span *ngIf="item.Status==3" class="badge badge-danger">Rejected</span>
                    <span *ngIf="item.Status==4" class="badge badge-success">Accepted</span>
                </td>
                <td>
                    <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)"> Detail </button>
                </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
                <td colspan="7">
                    <h6>Loading data...</h6>
                </td>
            </tr>
            <tr *ngIf="modelList && modelList.length==0" class="text-center">
                <td colspan="7">
                    <h6>There are no record</h6>
                </td>
            </tr>
        </tbody>
    </table>
</div>