<div class="card">
  <div class="card-header bg-primary">
    {{ 'Model.PurchaseBook.PurchaseList' | translate }}
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <ng-container *ngIf="model!=null">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.PurchaseNo' | translate }}:</b></div>
                <div class="col-sm-7">{{model.PurchaseId}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.PurchaseDate' | translate }}:</b></div>
                <div class="col-sm-7">{{model.PurchaseDate| date}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.PurchasedBy' | translate }}:</b></div>
                <div class="col-sm-7">{{model.PurcahseDeptEmployee.FullName}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.Amount' | translate }}:</b></div>
                <div class="col-sm-7">{{model.Amount}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.Supplier' | translate }}:</b></div>
                <div class="col-sm-7">{{model.Supplier.Name}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.BudgetType' | translate }}:</b></div>
                <div class="col-sm-7">{{model.BudgetType.Name}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.TransactionTrackingNumber' | translate }}:</b></div>
                <div class="col-sm-7">{{model.TransactionTrackingNumber? model.TransactionTrackingNumber:""}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.ReferenceNumber' | translate }}:</b></div>
                <div class="col-sm-7">{{model.ReferenceNumber? model.ReferenceNumber:""}}</div>
              </div>

              <div class="row">
                <div class="col-sm-5"><b>{{ 'Model.PurchaseBook.Note' | translate }}:</b></div>
                <div class="col-sm-7">{{model.Note}}</div>
              </div>
              <!-- <div class="row">
                <div class="col-sm-5"><b>Status:</b></div>
                <div class="col-sm-7">{{model.Status}}</div>
              </div> -->
              <br>
              <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'Model.Book.BookSubject' | translate }}</th>
                <th>{{ 'Model.Book.BookGrade' | translate }}</th>
                <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
                <th>{{ 'Model.Book.UnitPrice' | translate }}</th>
                <th>{{ 'Model.Book.Quantity' | translate }}</th>
                <th>{{ 'Model.Book.TotalPrice' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of model.PurchaseBookLines; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
                <td>
                  {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}
                </td>
                <td>{{ item.BookLanguage ? item.BookLanguage.Name : "" }}</td>
                <td>{{ item.BookPrice }}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.Quantity * item.BookPrice }}</td>
              </tr>
            </tbody>
          </table>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>