<div class="card-header">
  <h3 class="card-title">{{ 'Model.SubcityStore.RequestDetails' | translate }}</h3>

  <div class="card-tools">
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="remove"
      (click)="modalRef.hide()"
      data-toggle="tooltip"
      title="Remove"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<form class="form-horizontal" #form="ngForm">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ 'Model.SubcityStore.RequestId' | translate }}: {{ model ? model.RequestId : "" }}
        </div>
        <div class="form-group">{{ 'Model.SubcityStore.Date' | translate }}: {{ model.Date | date }}</div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ 'Model.SubcityStore.Subcity' | translate }}: {{ model.Subcity ? model.Subcity.Name : "" }}
        </div>
        <div class="form-group">
          {{ 'Model.SubcityStore.SubcityManager' | translate }}:
          {{ model.SubcityManager ? model.SubcityManager.FullName : "" }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Book.BookSubject' | translate }}</th>
              <th>{{ 'Model.Book.BookGrade' | translate }}</th>
              <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
              <th *ngIf="model.Status ==1 && currentUser.Role !='Subcity Manager'">Main Stock</th>
              <th *ngIf="model.Status ==1 && currentUser.Role !='Subcity Manager'">Subcity Stock</th>
              <th>{{ 'Model.SubcityStore.TransferQuantity' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.OrderLines; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
              <td>{{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}</td>
              <td>{{ item.BookLanguage ? item.BookLanguage.Name : "" }}</td>
              <td *ngIf="model.Status ==1 && currentUser.Role !='Subcity Manager'">
                {{ item.MainStockQty }}
              </td>
              <td *ngIf="model.Status ==1 && currentUser.Role !='Subcity Manager'">
                {{ item.SubcityStockQty }}
              </td>
              <td>
                <input
                  type="number"
                  [(ngModel)]="item.Quantity"
                  name="{{ i }}"
                  class="form-control"
                  required
                  (blur)="checkQuantity(item.MainStockQty,item.Quantity)"
                  [disabled]="model.Status !=1 || currentUser.Role =='Subcity Manager'"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="row"
      *ngIf="currentUser.Role == 'Bookstore Manager' && model.Status == 1"
    >
      <div class="col-md-6">
        <div class="form-group">
          <label for="BookstoreEmployeeId" class="col-form-label"
            >{{ 'Model.SubcityStore.BookstoreEmployee' | translate }}</label
          >
          <div>
            <ng-select
              [items]="bookstoreEmployeeList"
              [(ngModel)]="model.BookstoreEmployeeId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="FullName"
              bindValue="Id"
              placeholder="Select One"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <span>
            <button
              type="button"
              [disabled]="!form.valid || !model.BookstoreEmployeeId || !isAcceptable"
              class="btn btn-success m-1"
              (click)="onApproved()"
            >
              {{ 'Button.Approve' | translate }}
            </button>
            <button
              type="button"
              class="btn btn-danger m-1"
              (click)="onRejected()"
            >
              {{ 'Button.Reject' | translate }}
            </button>
          </span>
        </div>
      </div>
    </div>
    <button
      *ngIf="currentUser.Role == 'Bookstore Employee' && model.Status !=3"
      type="button"
      class="btn btn-primary m-1"
      (click)="onCompleted()"
    >
      {{ 'Button.MarkAsCompleted' | translate }}
    </button>
  </div>
</form>
