<div class="dashboard-main-wrapper p-0">
    <nav class="navbar navbar-expand dashboard-top-header bg-white">
        <div class="container-fluid">
            <div class="dashboard-nav-brand">
                <a class="dashboard-logo" [routerLink]="['/']">Property Management</a>
            </div>
        </div>
    </nav>
    <div class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="../../assets/images/lost.png" alt="" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Page Not Found</h1>
                            <a [routerLink]="['/']" class="btn btn-secondary btn-lg">Back to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>