<div class="row">
    <div class="col-md-4">
      <button class="btn btn-info" (click)="print()"><i class="fas fa-print"></i> Print</button> &nbsp;
      <button class="btn btn-info" (click)="downloadPdf()"><i class="fas fa-download"></i> Download as PDF</button>
    </div>
  </div>
  <hr>
<div id="print-section">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
            <div>Model 19</div>
            <div class="col-sm-12">
              <div class="text-center h5">Addis Ababa Development Finance</div>
              <div class="text-center h5">Economy Development Bureau</div>
            </div>
            <div class="h6">RECEIPT FOR ARTICLES OR PROPERTY RECEIVED </div>
            <div class="row">
              <div class="col-8">
                DEPARTMENT :&nbsp;<u> Purchase Department</u>
                <div>NAME : &nbsp;<u>{{ model.PurcahseDeptEmployee.FullName }}</u> </div>
                <div>DATE:&nbsp;<u>{{ model.PurchaseDate | date }}</u> </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <br>
                   I received the following from  <u>&nbsp;&nbsp;&nbsp;&nbsp;{{ model.Supplier ? model.Supplier.Name : "" }}&nbsp;&nbsp;&nbsp;&nbsp;</u> on the date <u>&nbsp;&nbsp;&nbsp;&nbsp;{{ todayDate | date }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <th>Serial No</th>
                      <th>Description</th>
                      <th>Serie</th>
                      <th>Page No</th>
                      <th>Quantity</th>
                      <th>Unit Price (Birr)</th>
                      <th>Total Price(Birr)</th>
    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of model.PurchaseBookLines; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td style="font-size: medium;">
                       Subject: {{ item.BookSubject ? item.BookSubject.Name : "" }}<br>
                       Grade:  {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}<br>
                       Language: {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
                      </td>
                      <td></td>
                      <td>{{ item.PageNo }}</td>
                      <td>{{ item.Quantity }}</td>
                      <td>{{ item.BookPrice }}</td>
                      <td>{{ item.Quantity * item.BookPrice }}</td>
                    </tr>
                    <tr>
                      <td colspan="5"></td>
                      <td >Total</td>
                      <td>{{ model.Amount }}</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  Date :   &nbsp; <u> {{ todayDate | date }} </u> 
                </div>
                <div>
                  Signature Donor :&nbsp; <u>{{ model.Supplier ? model.Supplier.Name : "" }} </u> 
                </div>
                <div>
                   Recipient’s Signature : &nbsp;<u>{{ model.PurcahseDeptEmployee.FullName }}</u> 
                </div>
              </div>
            </div>
            <br />
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="card card-body">

  <div id="print-section">

    <div style="width: 80%; margin: 0 auto">
      <div class="row">
        <div class="col-md-8">
          <ul class="list">
            <li class="list-item h4">Thought Pod</li>
            <li class="h5">Company Slogan..</li>
            <li>Address: Addis Ababa Education Bureau</li>
            <li>Email: thoughtpod@gmail.com</li>
            <li>Cell: 017676639</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list pt-5">
            <li>#Sales-Id: S-001</li>
                <li>Date: 22 October, 2020</li>
  
            <li
              class="p-2 d-inline-block"
              style="background-color: rgb(226, 226, 226)"
            >
              <div>Purchase-Id: {{ model.PurchaseId }}</div>
              <div>Date: {{ model.PurchaseDate | date }}</div>
              <div>Transaction Tracking Number: {{model.TransactionTrackingNumber? model.TransactionTrackingNumber:""}}</div>
              <div>Reference Number: {{model.ReferenceNumber? model.ReferenceNumber:""}}</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="list">
            <li class="list-item">
              <div class="mb-1" *ngIf="model.PurchaseRequestId != null">
                <div class="h6">
                  <u>Requested By</u> :
                  {{
                    model.BookstoreEmployee
                      ? model.BookstoreEmployee.FullName
                      : ""
                  }}
                </div>
                <div class="h6">
                  <u>Approved By</u> :
                  {{
                    model.BookstoreManager ? model.BookstoreManager.FullName : ""
                  }}
                </div>
              </div>
              <div class="mb-1">
                <div class="h6" *ngIf="model.PurchaseRequestId == null">
                  <u>Supplier</u> :
                  {{ model.Supplier ? model.Supplier.Name : "" }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list">
            <li class="list-item">
              <div class="mb-1">
                <div class="h6">
                  <u>Purchased By</u> :
                  {{
                    model.PurcahseDeptEmployee
                      ? model.PurcahseDeptEmployee.FullName
                      : ""
                  }}
                </div>
                <div class="h6" *ngIf="model.PurchaseRequestId != null">
                  <u>Supplier</u> :
                  {{ model.Supplier ? model.Supplier.Name : "" }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <br />
      <div>
        <div class="text-center"><u>Purchase Information</u></div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Book Subject</th>
                  <th>Book Grade</th>
                  <th>Book Language</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of model.PurchaseBookLines; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
                  <td>
                    {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}
                  </td>
                  <td>{{ item.BookLanguage ? item.BookLanguage.Name : "" }}</td>
                  <td>{{ item.BookPrice }}</td>
                  <td>{{ item.Quantity }}</td>
                  <td>{{ item.Quantity * item.BookPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <div class="col-2 offset-10"><u>Total Amount: </u>{{ model.Amount }}</div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="print()">Print</button>
    </div>
  </div>
</div> -->
