<div *ngIf="currentUser.Role == 'Subcity Manager'">

    <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.BookRequest' | translate }}</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-3">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{model? model.ApprovedRequest:"" }}</h3>

              <p>{{ 'Dashboard.ApprovedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('approved')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-3">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{model? model.CompletedRequest:"" }}</h3>

              <p>{{ 'Dashboard.CompletedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('completed')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.SubcityStockRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model? model.PendingSubcityStoreRequest:"" }}</h3>
              <p>{{ 'Dashboard.PendingStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('pending')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model? model.ApprovedSubcityStoreRequest :"" }}</h3>

              <p>{{ 'Dashboard.ApprovedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model ? model.CompletedSubcityStoreRequest : "" }}</h3>
              <p>{{ 'Dashboard.CompletedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('completed')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ model ? model.RejectedSubcityStoreRequest :"" }}</h3>
              <p>{{ 'Dashboard.RejectedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('rejected')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{ model? model.TotalSubcityStoreRequest:"" }}</h3>
              <p>{{ 'Dashboard.TotalStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('total')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

