<div class="card">
    <div class="card-header">
        {{ 'Model.Book.BookDetail' | translate }}
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <ng-container *ngIf="model!=null">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.BookSubject' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.BookSubject.Name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.BookLanguage' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.BookLanguage.Name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.BookGrade' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.BookGradeLavel.Name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.PageNo' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.PageNo}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.PurchasePrice' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.PurchasePrice}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><b>{{ 'Model.Book.SalesPrice' | translate }}:</b></div>
                                <div class="col-sm-7">{{model.SalePrice}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>