<div class="row">
    <div class="col-md-4">
      <button class="btn btn-info" (click)="print()"><i class="fas fa-print"></i> {{ 'Button.Print' | translate }}</button> &nbsp;
      <button class="btn btn-info" (click)="downloadPdf()"><i class="fas fa-download"></i> {{ 'Button.DownloadAsPdf' | translate }}</button>
    </div>
  </div>
  <hr>
<div id="print-section">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
            <div>{{ 'OrderReport.Model22' | translate }}</div>
            <div class="col-sm-12">
              <div class="text-center h5">{{ 'OrderReport.Title1' | translate }}</div>
              <div class="text-center h5">{{ 'OrderReport.Title2' | translate }}</div>
            </div>
            <div class="h6">{{ 'OrderReport.Subtitle' | translate }}</div>
            <div class="row">
              <div class="col-8">
                {{ 'OrderReport.NAME' | translate }} : &nbsp;<u>{{ model.School.Name }}</u>
                <P>{{ 'OrderReport.DEPARTMENT' | translate }} :&nbsp;<u> Addis Ababa Education Bureau</u> </P>
              </div>
              <div class="col-sm-3 offset-1">{{ 'OrderReport.DATE' | translate }}:&nbsp;<u>{{ todayDate | date}}</u> </div>
            </div>
            <div class="row">
              <div class="col">
    
                  {{ 'OrderReport.P1' | translate }} <u>&nbsp;&nbsp;&nbsp;&nbsp;{{ model.OrderId }}&nbsp;&nbsp;&nbsp;&nbsp;</u> {{ 'OrderReport.P2' | translate }} <u>&nbsp;&nbsp;&nbsp;&nbsp;{{ model.OrderDate | date }}&nbsp;&nbsp;&nbsp;&nbsp;</u> {{ 'OrderReport.P3' | translate }}
                <br>
                 {{ 'OrderReport.P4' | translate }}
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'OrderReport.SerialNo' | translate }}</th>
                      <th>{{ 'OrderReport.Description' | translate }}</th>
                      <th>{{ 'OrderReport.Serie' | translate }}</th>
                      <th>{{ 'OrderReport.PageNo' | translate }}</th>
                      <th>{{ 'OrderReport.Quantity' | translate }}</th>
                      <th>{{ 'OrderReport.UnitPrice(Birr)' | translate }}</th>
                      <th>{{ 'OrderReport.TotalPrice(Birr)' | translate }}</th>
    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of model.OrderLines; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td style="font-size: medium;">
                       Subject: {{ item.BookSubject ? item.BookSubject.Name : "" }}<br>
                       Grade:  {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}<br>
                       Language: {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
                      </td>
                      <td></td>
                      <td>{{ item.PageNo }}</td>
                      <td>{{ item.Quantity }}</td>
                      <td>{{ item.BookPrice }}</td>
                      <td>{{ item.Quantity * item.BookPrice }}</td>
                    </tr>
                    <tr>
                      <td colspan="5"></td>
                      <td >{{ 'OrderReport.Total' | translate }}</td>
                      <td>{{ model.Amount }}</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  {{ 'OrderReport.DATE' | translate }} :   &nbsp; <u> {{ todayDate | date }} </u> 
                </div>
                <div>
                  {{ 'OrderReport.StorekeeperSignature' | translate }} :&nbsp; <u>{{ model.BookstoreEmployee.FullName }} </u> 
                </div>
                <div>
                   {{ 'OrderReport.RecipientSignature' | translate }} : &nbsp;<u>{{ model.SchoolEmployee.FullName }}</u> 
                </div>
              </div>
            </div>
            <br />
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="card card-body">
  <div id="print-section">
    <div style="width: 80%; margin: 0 auto">
      <div class="row">
        <div class="col-md-8">
          <ul class="list">
            <li class="list-item h4">Thought Pod</li>
            <li>Address: Addis Ababa Education Bureau</li>
            <li>Email: thoughtpod@gmail.com</li>
            <li>Cell: 017676639</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list pt-5">
            <li
              class="p-2 d-inline-block"
              style="background-color: rgb(226, 226, 226)"
            >
              <div>Order-Id: {{ model.OrderId }}</div>
              <div>Date: {{ model.OrderDate | date }}</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="list">
            <li class="list-item">
              <div class="mb-1">
                <div class="h6"><u>Billed To</u></div>
              </div>
            </li>
            <li>School Name: {{ model.School.Name }}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list">
            <li class="list-item">
              <div class="mb-1">
                <div class="h6"><u>Billed By</u></div>
              </div>
            </li>
            <li>Issued By: Foridul Islma</li>
            <li>Confirmed By: Raihan Sarker</li>
          </ul>
        </div>
      </div>
      <br />
      <div>
        <div class="text-center"><u>Order Information</u></div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Book Subject</th>
                  <th>Book Grade</th>
                  <th>Book Language</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of model.OrderLines; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
                  <td>
                    {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}
                  </td>
                  <td>{{ item.BookLanguage ? item.BookLanguage.Name : "" }}</td>
                  <td>{{ item.BookPrice }}</td>
                  <td>{{ item.Quantity }}</td>
                  <td>{{ item.Quantity * item.BookPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <div class="col-2 offset-10">
          <u>Total Amount: </u>{{ model.Amount }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="print()">Print</button>
    </div>
  </div>
</div> -->
