<div class="col-md-10 offset-1">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ 'Model.Supplier.CreateSupplier' | translate }}</h3>
    </div>
    <div class="card-body">
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ 'Model.Supplier.SupplierName' | translate }}
                <div>
                  <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel" [(ngModel)]="model.Name"
                    placeholder="Enter Name" required />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Email' | translate }}
                <div>
                  <input type="text" class="form-control" id="Email" name="Email" #Email="ngModel"
                    [(ngModel)]="model.Email" placeholder="Enter Email" required />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Mobile' | translate }}
                <div>
                  <input type="text" class="form-control" id="Mobile" name="Mobile" #Mobile="ngModel"
                    [(ngModel)]="model.Mobile" placeholder="Enter Mobile" required />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Phone' | translate }}
                <div>
                  <input type="text" class="form-control" id="Phone" name="Phone" #Phone="ngModel"
                    [(ngModel)]="model.Phone" placeholder="Enter Phone"  />
                </div>
              </div>
              
              <div class="form-group">
                {{ 'Model.Supplier.Contact' | translate }}
                <div>
                  <input type="text" class="form-control" id="Contact" name="Contact" #Contact="ngModel"
                    [(ngModel)]="model.Contact" placeholder="Enter Contact"  />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Fax' | translate }}
                <div>
                  <input type="text" class="form-control" id="Fax" name="Fax" #Fax="ngModel" [(ngModel)]="model.Fax"
                    placeholder="Enter Fax"  />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.City' | translate }}
                <div>
                  <input type="text" class="form-control" id="City" name="City" #City="ngModel" [(ngModel)]="model.City"
                    placeholder="Enter City"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ 'Model.Supplier.State' | translate }}
                <div>
                  <input type="text" class="form-control" id="State" name="State" #State="ngModel"
                    [(ngModel)]="model.State" placeholder="Enter State"  />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.ZipCode' | translate }}
                <div>
                  <input type="text" class="form-control" id="ZipCode" name="ZipCode" #ZipCode="ngModel"
                    [(ngModel)]="model.ZipCode" placeholder="Enter Zip Code"  />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Country' | translate }}
                <div>
                  <input type="text" class="form-control" id="Country" name="Country" #Country="ngModel"
                    [(ngModel)]="model.Country" placeholder="Enter Country"  />
                </div>
              </div>
              <div class="form-group">
                {{ 'Model.Supplier.Address' | translate }}
                <div>
                  <textarea type="text" class="form-control" id="Address" name="Address" #Address="ngModel"
                    [(ngModel)]="model.Address" placeholder="Enter Address" >

                  </textarea >
                </div>
              </div>

              <div class="form-group">
                {{ 'Model.Supplier.Address2' | translate }}
                <div>
                  <textarea type="text" class="form-control" id="Address2" name="Address2" #Address2="ngModel"
                    [(ngModel)]="model.Address2" placeholder="Enter Address2" >

                  </textarea>
                </div>
              </div>

              <div class="form-group">
                {{ 'Model.Supplier.Details' | translate }}
                <div>
                  <textarea type="text" class="form-control" id="Details" name="Details" #Details="ngModel"
                    [(ngModel)]="model.Details" placeholder="Enter Details" >

                  </textarea>
                </div>
              </div>

            
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                 {{ 'Model.Supplier.PreviousCreditBalance' | translate }}
                 <div>
                   <input type="number" class="form-control" id="Previous Credit Balance" name="PreviousCreditBalance" #PreviousCreditBalance="ngModel"
                     [(ngModel)]="model.PreviousCreditBalance" placeholder="Enter PreviousCreditBalance"  />
                 </div>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label"></label>
                <div>
                  <button type="button" class="btn btn-success col-md-3 m-1" [disabled]="!form.valid"
                    (click)="onSubmit()">
                    <i class="fas fa-save"></i>&nbsp; &nbsp;{{ 'Button.Create' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
