

<div class="card-header bg-info">
    <h3 class="card-title ">{{ 'Model.Budget.UpdateBudget' | translate }}</h3>

    <button type="button" class="close pull-right" style="color: white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.Budget.BudgetType' | translate }}
                <ng-select
                  [items]="budgetList"
                  [(ngModel)]="model.BudgetTypeId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select User-Type"
                  (change)="onBudgetTypeChange(model.BudgetTypeId)"
                >
                </ng-select>
              </div>
              <div class="form-group">
                 {{ 'Model.Budget.Date' | translate }}
                <div>
                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    required
                    [(ngModel)]="model.BudgetDate"
                    name="BudgetDate"
                    autocomplete="off"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group">
                 {{ 'Model.Budget.Amount' | translate }}
                <div>
                  <input
                    type="number"
                    class="form-control"
                    id="Amount"
                    name="Amount"
                    #Amount="ngModel"
                    [(ngModel)]="model.Amount"
                    placeholder="Enter Amount"
                    required
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                 {{ 'Model.Budget.Description' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="Description"
                    name="Description"
                    #Description="ngModel"
                    [(ngModel)]="model.Description"
                    placeholder="Enter Description"
                    required
                    autocomplete="off"
                    
                  />
                </div>
              </div>

              <div *ngIf="isNonGovt">
                <div class="form-group">
                   {{ 'Model.Budget.CompanyName' | translate }}
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      id="CompanyName"
                      name="CompanyName"
                      #CompanyName="ngModel"
                      [(ngModel)]="model.CompanyName"
                      placeholder="Enter Company Name"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="form-group">
                   {{ 'Model.Budget.CompanyAddress' | translate }}
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      id="CompanyAddress"
                      name="CompanyAddress"
                      #CompanyAddress="ngModel"
                      [(ngModel)]="model.CompanyAddress"
                      placeholder="Enter Company Address"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label"></label>
                <div>
                  <button
                    type="button"
                    class="btn btn-success col-md-3 m-1"
                    [disabled]="!form.valid || !model.BudgetTypeId"
                    (click)="onUpdate()"
                  >
                    <i class="fas fa-save"></i>&nbsp; &nbsp;{{ 'Button.Update' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
</div>