<div class="row">
  <div class="col-md-4">
    <button class="btn btn-info" (click)="print()">
      <i class="fas fa-print"></i> Print
    </button>
    &nbsp;
    <button class="btn btn-info" (click)="downloadPdf()">
      <i class="fas fa-download"></i> Download as PDF
    </button>
  </div>
</div>
<hr />
<div id="print-section">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-8">
              <div class="text-center h6">Addis Ababa Development Finance</div>
              <div class="text-center h6">Economy Development Bureau</div>
              <br />
              <div class="text-center h5">RECEIPT VOUCHER</div>
              <br>
            </div>
            <div class="col-sm-4">
              <div>
                Date:&nbsp;<u>{{ todayDate | date }}</u>
              </div>
              <div>
                Subcity:&nbsp;<u>{{ model.Subcity? model.Subcity.Name:"" }}</u>
              </div>
              <div>
                Kebele:&nbsp;<u>{{ model.Kebele? model.Kebele:"________" }}</u>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div>
                Name of public body : &nbsp;<u>{{model.School? model.School.Name:"" }}</u>
              </div>
              <div>
                Received from : &nbsp;<u>{{model.BookstoreEmployee? model.BookstoreEmployee.FullName:"" }}</u>
              </div>
              <div>
                Address : &nbsp; City : &nbsp;<u>{{ model.City? model.City:"_______" }}</u>&nbsp;
                Subcity : &nbsp;<u>{{ model.Subcity? model.Subcity.Name:""  }}</u> &nbsp;
                House Number : &nbsp;<u>{{ model.HouseNumber?model.HouseNumber:"________" }}</u>
              </div>
              <div class="mt-2">Mode of Collection</div>
              <div>
                Cash &nbsp; 
                <span *ngIf="model.Cash">&#9989;</span>
                <span *ngIf="!model.Cash">&#11036;</span>  
              </div>
              <div>
                Check &nbsp;
                <span *ngIf="model.Check">&#9989;</span>
                <span *ngIf="!model.Check">&#11036;</span>  &nbsp;&nbsp;
                Check No : &nbsp;<u>{{ model.CheckNo?model.CheckNo:"_______" }}</u>
              </div>
              <div>
                Deposite Slip &nbsp;
                <span *ngIf="model.DepositeSlip">&#9989;</span>
                <span *ngIf="!model.DepositeSlip">&#11036;</span>  &nbsp;&nbsp;
                Reference No : &nbsp;<u>{{ model.ReferenceNo?model.ReferenceNo:"_______" }}</u><span class="mr-2"></span>
                Date : &nbsp;<u *ngIf="!model.DepositeDate">{{ model.DepositeDate ? model.DepositeDate:"_______" }}</u> <u>{{ model.DepositeDate | date }}</u>
              </div>
              <div>
                Bank Transfer &nbsp;
                <span *ngIf="model.BankTransfer">&#9989;</span>
                <span *ngIf="!model.BankTransfer">&#11036;</span>  
              </div>
              <div class="mt-2">
                Amount in figure : &nbsp;<u>{{ model.Amount }}</u>
              </div>
              <div>
                Amount in words : &nbsp;<u>{{ AmountInWord }}</u>
              </div>
              <div>
                Signature : &nbsp;<u>{{ model.BookstoreEmployee? model.BookstoreEmployee.FullName:"" }}</u>
              </div>
              <hr>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>