<div class="card card-primary" *ngIf="currentUser.Role=='Subcity Manager'">
  <div class="card-header">
    {{ 'Model.SubcityStore.OrderDetails' | translate }}
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      style="color: white"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <ng-container *ngIf="model != null">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label class="control-label">{{ 'Model.SubcityStore.BookstoreManager' | translate }}</label>
              <ng-select
                [items]="managerList"
                bindLabel="FullName"
                bindValue="Id"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.BookstoreManagerId"
                placeholder="Select a Manager"
                required
              >
              </ng-select>
            </div>
        </div>
      </div>

      <br />
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'Model.Book.BookSubject' | translate }}</th>
            <th>{{ 'Model.Book.BookGrade' | translate }}</th>
            <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
            <th>
              {{ 'Model.Book.StockQuantity' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.list; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
            <td>
              {{ item.BookGrade ? item.BookGrade.Name : "" }}
            </td>
            <td>
              {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
            </td>
            <td>{{ item.AvailableQty }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button class="btn btn-success" [disabled]="!model.BookstoreManagerId" (click)="onRequest()">{{ 'Button.RequestToManager' | translate }}</button>
    </ng-container>
  </div>
</div>

<div class="card card-primary" *ngIf="currentUser.Role=='Bookstore Manager'">
  <div class="card-header">
    {{ 'Model.SubcityStore.OrderDetails' | translate }}
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      style="color: white"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <ng-container *ngIf="model != null">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ 'Model.SubcityStore.Subcity' | translate }}
              <ng-select
                [items]="subcityList"
                [(ngModel)]="model.SubcityId"
                [ngModelOptions]="{ standalone: true }"
                bindLabel="Name"
                bindValue="Id"
                placeholder="ALL"
                disabled
              >
              </ng-select>
            </div>
            <div class="form-group">
            <label for="BookstoreEmployeeId" class="col-form-label"
              >{{ 'Model.SubcityStore.BookstoreEmployee' | translate }}</label
            >
            <div>
              <ng-select
                [items]="bookstoreEmployeeList"
                [(ngModel)]="model.BookstoreEmployeeId"
                [ngModelOptions]="{ standalone: true }"
                bindLabel="FullName"
                bindValue="Id"
                placeholder="Select One"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group">
            <label for="SubcityManagerId" class="col-form-label"
              >{{ 'Model.SubcityStore.SubcityManager' | translate }}</label
            >
            <div>
              <ng-select
                [items]="subcityManagerList"
                [(ngModel)]="model.SubcityManagerId"
                [ngModelOptions]="{ standalone: true }"
                bindLabel="FullName"
                bindValue="Id"
                placeholder="Select One"
              >
              </ng-select>
            </div>
          </div>
          </div>
        </div>
  
        <br />
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Book.BookSubject' | translate }}</th>
              <th>{{ 'Model.Book.BookGrade' | translate }}</th>
              <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
              <th>
                {{ 'Model.Book.SubcityStock' | translate }}
              </th>
              <th >
                {{ 'Model.Book.MainStock' | translate }}
              </th>
              <th>{{ 'Model.Book.Quantity' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.OrderLines; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
              <td>
                {{ item.BookGradeLavel ? item.BookGradeLavel.Name : "" }}
              </td>
              <td>
                {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
              </td>
              <td>{{ item.SubcityStockQty }}</td>
              <td>{{ item.MainStockQty }}</td>
              <td>
                  <input
                    type="number"
                    [(ngModel)]="item.Quantity"
                    name="{{ i }}"
                    class="form-control"
                    required
                  />
                </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <button class="btn btn-success" [disabled]="!form.valid || !model.BookstoreEmployeeId || !model.SubcityManagerId" (click)=" onTransfer()">{{ 'Button.RequestToTransfer' | translate }}</button>
      </ng-container>
    </form>
  </div>
</div>

