<div class="card">
  <div class="card-header">
    {{ 'Stock.BookstoreStock' | translate }}
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookSubject' | translate }}
            <ng-select
              [items]="subjectList"
              [(ngModel)]="model.BookSubjectId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookLanguage' | translate }}
            <ng-select
              [items]="languageList"
              [(ngModel)]="model.BookLanguageId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookGrade' | translate }}
            <ng-select
              [items]="gradeLavelList"
              [(ngModel)]="model.BookGradeLavelId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group float-right">
          <label for="btnSearch" class="col-form-label"> </label>
            <button type="button" class="btn btn-info"
              (click)="onSearch()">
              <i class="fas fa-search"></i> {{ 'Button.Search' | translate }}
                </button>
          </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">


        <table class="table table-sm table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Order.Subject' | translate }}</th>
              <th>{{ 'Model.Order.Grade' | translate }}</th>
              <th>{{ 'Model.Order.Language' | translate }}</th>
              <th>{{ 'Stock.StockQuantity' | translate }}</th>
              <th>{{ 'Stock.Allocated' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of stockList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item ? item.BookSubject.Name : "" }}</td>
              <td>
                {{ item ? item.BookGrade.Name : "" }}
              </td>
              <td>
                {{ item ? item.BookLanguage.Name : "" }}
              </td>
              <td style="font-size: 18px;">{{ item.AvailableQty }}</td>
              <td style="font-size: 18px;">{{ item.AllocatedQty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
