<div class="card card-primary">
  <div class="card-header">
    Create Receipt Voucher
    <button type="button" class="close pull-right" aria-label="Close" style="color: white" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form class="form-horizontal" #form="ngForm" >
      <div class="card-body">
        <div class="row">
          <div class="col-md-6" >
            <div class="form-group" *ngIf="model.School">
              Name of Public Body
              <div>
                <input type="text" class="form-control" id="NameOfPublicBody" name="NameOfPublicBody"
                  [(ngModel)]="model.School.Name" disabled />
              </div>
            </div>
            <div class="form-group" *ngIf="model.BookstoreEmployee">
              Received From
              <div>
                <input type="text" class="form-control" id="ReceivedFrom" name="ReceivedFrom"
                  [value]="model.BookstoreEmployee.FullName" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              City
              <div>
                <input type="text" class="form-control" id="City" name="City" [(ngModel)]="model.City"
                  placeholder="Enter The City" required/>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              Subcity
              <ng-select [items]="subcityList" [(ngModel)]="model.SubcityId" [ngModelOptions]="{ standalone: true }"
                bindLabel="Name" bindValue="Id" placeholder="Select a Subcity" required>
              </ng-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              House Number
              <div>
                <input type="text" class="form-control" id="HouseNumber" name="HouseNumber"
                  [(ngModel)]="model.HouseNumber" placeholder="Enter House Number" required/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">Mode Of Collection</div>
        </div>

        <div class="row">
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.Cash" id="Cash" name="Cash" />
              <label class="custom-control-label" for="Cash">Cash</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.Check" id="Check" name="Check" />
              <label class="custom-control-label" for="Check">Check</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="model.Check">
          <div class="col-md-6">
            <div class="form-group">
              Check No
              <div>
                <input type="text" class="form-control" id="CheckNo" name="CheckNo" [(ngModel)]="model.CheckNo"
                  placeholder="Enter CheckNo" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.DepositeSlip" id="DepositeSlip"
                name="DepositeSlip" />
              <label class="custom-control-label" for="DepositeSlip">Deposite Slip</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="model.DepositeSlip">
          <div class="col-md-6">
            <div class="form-group">
              Reference No
              <div>
                <input type="text" class="form-control" id="ReferenceNo" name="ReferenceNo"
                  [(ngModel)]="model.ReferenceNo" placeholder="Enter Reference No" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              Deposite Date
              <div>
                <input type="text" placeholder="Select Deposite Date" class="form-control" bsDatepicker required
                  [(ngModel)]="model.DepositeDate" readonly name="DepositeDate" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.BankTransfer" id="BankTransfer" name="BankTransfer" />
              <label class="custom-control-label" for="BankTransfer">Bank Transfer</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              Amount
              <div>
                <input type="number" class="form-control" id="Amount" name="Amount" [(ngModel)]="model.Amount"
                  placeholder="Enter Amount" disabled/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              Amount in Word
              <div>
                <input type="text" class="form-control" id="AmountInWord" name="AmountInWord" [(ngModel)]="AmountInWord"
                  placeholder="Enter AmountInWord" disabled/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" *ngIf="model.BookstoreEmployee">
              Signature
              <div>
                <input type="text" class="form-control"  name="Signature"
                  [value]="model.BookstoreEmployee.FullName" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-form-label"></label>
            <div>
              <button type="button" class="btn btn-success col-md-3 m-1" [disabled]="!form.valid || !model.SubcityId" (click)="onSubmit()">
                <i class="fas fa-save"></i>&nbsp; &nbsp;Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
