<div *ngIf="currentUser.Role == 'Main Admin'">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">{{ 'Dashboard.UserInformation' | translate }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ model ? model.TotalUserPendingRequest : 0 }}</h3>
                  <p>{{ 'Dashboard.PendingUserRequest' | translate }}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a
                  (click)="onUserPendingRequest('pending')"
                  class="small-box-footer hand-hover"
                  >View <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ model ? model.TotalActiveUsers : 0 }}</h3>
                  <p>{{ 'Dashboard.TotalActiveUsers' | translate }}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a
                  (click)="onActiveUser('Active')"
                  class="small-box-footer hand-hover"
                  >View <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">{{ 'Dashboard.School&BookInformation' | translate }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <!-- small box -->
              <div class="small-box bg-purple">
                <div class="inner">
                  <h3>{{ model ? model.TotalBook : 0 }}</h3>
                  <p>{{ 'Dashboard.TotalBookInStock' | translate }}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-book"></i>
                </div>
                <a (click)="onBookStock()" class="small-box-footer hand-hover"
                  >View <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>

            <div class="col-6">
              <!-- small box -->
              <div class="small-box bg-primary">
                <div class="inner">
                  <h3>{{ model ? model.TotalSchool : 0 }}</h3>
                  <p>{{ 'Dashboard.TotalRegisteredSchool' | translate }}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-university"></i>
                </div>
                <a (click)="onTotalSchool()" class="small-box-footer hand-hover"
                  >View <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">{{ 'Dashboard.BookRequestInformation' | translate }}</div>
        <div class="card-body">
          
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ model ? model.PendingRequest : 0 }}</h3>

          <p>{{ 'Dashboard.PendingBookRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('pending')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-teal">
        <div class="inner">
          <h3>{{ model ? model.ApprovedRequest : 0 }}</h3>

          <p>{{ 'Dashboard.ApprovedBookRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('approved')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ model ? model.RejectedRequest : 0 }}</h3>
          <p>{{ 'Dashboard.RejectedBookRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('rejected')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
<!-- 
    <div class="col-lg-3 col-6">
      
      <div class="small-box bg-cyan">
        <div class="inner">
          <h3>{{ model ? model.TodayRequest : 0 }}</h3>
          <p>Today Book Request</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a (click)="onRequestClick('today')" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      
      <div class="small-box bg-cyan">
        <div class="inner">
          <h3>{{ model ? model.ThisWeekRequest : 0 }}</h3>
          <p>Book Request This Week</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('thisWeek')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div> -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-cyan">
        <div class="inner">
          <h3>{{ model ? model.TotalRequest : 0 }}</h3>
          <p>{{ 'Dashboard.TotalBookRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a (click)="onRequestClick('total')" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>


  <hr />

  <div class="card card-primary">
    <div class="card-header">{{ 'Dashboard.BookRequestStatistics' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.WeekChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisWeek)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.MonthChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisMonth)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.YearChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisYear)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-success">
    <div class="card-header">{{ 'Dashboard.BookInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForSub"
            [scheme]="colorScheme"
            [results]="model.SubjectChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookSubject' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForGrade"
            [scheme]="colorScheme"
            [results]="model.GradeChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookGrade' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForLang"
            [scheme]="colorScheme"
            [results]="model.LanguageChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookLanguage' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-info">
    <div class="card-header">{{ 'Dashboard.UserInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <ngx-charts-bar-vertical
            [view]="viewForUserInfo"
            [scheme]="colorScheme"
            [results]="model.UserInfoChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Dashboard.UserInfo' | translate }}"
            yAxisLabel="{{ 'Dashboard.Quantity' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</div>
