<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/dashboard']" class="brand-link">
    <!-- <img src="../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8"> -->
    <span class="brand-text font-weight-light">Thought Pod</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block">Alexander Pierce</a>
            </div>
          </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-legacy"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            *ngIf="currentUser.Role == 'Main Admin'"
            [routerLink]="['/admin-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>
          <a
            *ngIf="currentUser.Role == 'Bookstore Employee'"
            [routerLink]="['/bookstore-employee-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>
          <a
            *ngIf="currentUser.Role == 'School Employee'"
            [routerLink]="['/school-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>

          <a
            *ngIf="currentUser.Role == 'Bookstore Manager'"
            [routerLink]="['/manager-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>

          <a
            *ngIf="currentUser.Role == 'Purchase Department'"
            [routerLink]="['/purchase-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>
          <a
            *ngIf="currentUser.Role == 'Subcity Manager'"
            [routerLink]="['/subcity-store-dashboard']"
            class="nav-link"
          >
            <p>
              <i class="pr-1 fas fa-tachometer-alt"></i>
              {{ 'Aside.Dashboard' | translate }}
            </p>
          </a>
        </li>

        <li
          *ngIf="
            currentUser.Role == 'Main Admin'
          "
          class="nav-item has-treeview"
        >
          <a href="#" class="nav-link">
            <p>
              <i class="pr-1 fas fa-wrench"></i>
              {{ 'Aside.Setup' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Subject' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/subject/create']" class="nav-link">
                    <p>{{ 'Aside.SubjectCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/subject/list']" class="nav-link">
                    <p>{{ 'Aside.SubjectList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Language' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/language/create']" class="nav-link">
                    <p>{{ 'Aside.LanguageCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/language/list']" class="nav-link">
                    <p>{{ 'Aside.LanguageList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.GradeLevel' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/grade-level/create']" class="nav-link">
                    <p>{{ 'Aside.GradeLevelCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/grade-level/list']" class="nav-link">
                    <p>{{ 'Aside.GradeLevelList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Book' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/book/create']" class="nav-link">
                    <p>{{ 'Aside.BookCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/book/list']" class="nav-link">
                    <p>{{ 'Aside.BookList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <div style="height: 1px; width: 95%; margin: 5px 0px; background-color: rgb(99, 98, 98);"></div>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Subcity' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/subcity/create']" class="nav-link">
                    <p>{{ 'Aside.SubcityCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/subcity/list']" class="nav-link">
                    <p>{{ 'Aside.SubcityList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Woreda' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/woreda/create']" class="nav-link">
                    <p>{{ 'Aside.WoredaCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/woreda/list']" class="nav-link">
                    <p>{{ 'Aside.WoredaList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Woreda1' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/woreda1/create']" class="nav-link">
                    <p>{{ 'Aside.Woreda1Create' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/woreda1/list']" class="nav-link">
                    <p>{{ 'Aside.Woreda1List' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Region' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/region/create']" class="nav-link">
                    <p>{{ 'Aside.RegionCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/region/list']" class="nav-link">
                    <p>{{ 'Aside.RegionList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <div style="height: 1px; width: 95%; margin: 5px 0px; background-color: rgb(99, 98, 98);"></div>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.SchoolLevel' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/school-level/create']" class="nav-link">
                    <p>{{ 'Aside.SchoolLevelCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/school-level/list']" class="nav-link">
                    <p>{{ 'Aside.SchoolLevelList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.SchoolOwnership' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a
                    [routerLink]="['/school-ownership/create']"
                    class="nav-link"
                  >
                    <p>{{ 'Aside.SchoolOwnershipCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/school-ownership/list']" class="nav-link">
                    <p>{{ 'Aside.SchoolOwnershipList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              class="nav-item has-treeview"
              *ngIf="currentUser.Role == 'Main Admin'"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.School' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/school/create']" class="nav-link">
                    <p>{{ 'Aside.SchoolCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/school/bulk-import']" class="nav-link">
                    <p>{{ 'Aside.BulkImport' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/school/list']" class="nav-link">
                    <p>{{ 'Aside.SchoolList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li
          class="nav-item has-treeview"
          *ngIf="
            currentUser.Role == 'Purchase Department' ||
            currentUser.Role == 'School Employee'
          "
        >
          <a href="#" class="nav-link">
            <p>
              <i class="fas fa-edit"></i>
              {{ 'Aside.Operation' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li
              *ngIf="currentUser.Role == 'School Employee'"
              class="nav-item has-treeview"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Order' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/order/create']" class="nav-link">
                    <p>{{ 'Aside.OrderCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/order/list']" class="nav-link">
                    <p>{{ 'Aside.OrderList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <li
              *ngIf="currentUser.Role == 'Purchase Department'"
              class="nav-item has-treeview"
            >
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Purchase' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/purchase-book/create']" class="nav-link">
                    <p>{{ 'Aside.PurchaseCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/purchase-book/list']" class="nav-link">
                    <p>{{ 'Aside.PurchaseList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- <li *ngIf="
                    false
                  " class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  Sale
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/sale/create']" class="nav-link">
                    <p>Sale Create</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/sale/list']" class="nav-link">
                    <p>Sale List</p>
                  </a>
                </li>
              </ul>
            </li>

            <li *ngIf="currentUser.Role == 'SchoolEmployee'" class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  Receive
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/receive/create']" class="nav-link">
                    <p>Receive Create</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/receive/list']" class="nav-link">
                    <p>Receive List</p>
                  </a>
                </li>
              </ul>
            </li> -->
          </ul>
        </li>

        <li
          class="nav-item has-treeview"
          *ngIf="currentUser.Role == 'Main Admin'"
        >
          <a href="#" class="nav-link">
            <p>
              <i class="pr-1 fas fa-user-cog"></i>

              {{ 'Aside.Setting' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.User' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/user/create']" class="nav-link">
                    <p>{{ 'Aside.UserCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/user/list']" class="nav-link">
                    <p>{{ 'Aside.UserList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p>
                  {{ 'Aside.Supplier' | translate }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/supplier/create']" class="nav-link">
                    <p>{{ 'Aside.SupplierCreate' | translate }}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/supplier/list']" class="nav-link">
                    <p>{{ 'Aside.SupplierList' | translate }}</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="nav-item has-treeview"
          *ngIf="currentUser.Role == 'Bookstore Manager'"
        >
          <a href="#" class="nav-link">
            <p>
              <i class="fab fa-bitcoin"></i>
              {{ 'Aside.Budget' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/budget/create']" class="nav-link">
                <p>{{ 'Aside.BudgetCreate' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/budget/list']" class="nav-link">
                <p>{{ 'Aside.BudgetList' | translate }}</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item has-treeview"
          *ngIf="currentUser.Role != 'Purchase Department'"
        >
          <a href="#" class="nav-link">
            <p>
              <i class="pr-1 fas fa-warehouse"></i>
              {{ 'Aside.Stock' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a [routerLink]="['/stock/new']" class="nav-link" *ngIf="currentUser.Role == 'Main Admin' || currentUser.Role == 'Bookstore Manager' ">
                <p>{{ 'Aside.StockEntry' | translate }}</p>
              </a>
              <a [routerLink]="['/stock/bookstore']" class="nav-link" *ngIf="currentUser.Role == 'Main Admin' || currentUser.Role == 'Bookstore Manager' || currentUser.Role == 'Bookstore Employee'">
                <p>{{ 'Aside.MainStock' | translate }}</p>
              </a>
              <a [routerLink]="['/stock/school']" class="nav-link" *ngIf="currentUser.Role == 'School Employee' || currentUser.Role == 'Bookstore Manager'">
                <p>{{ 'Aside.SchoolStock' | translate }}</p>
              </a>
              <a [routerLink]="['/subcity-store-stock/list']" class="nav-link" *ngIf="currentUser.Role == 'Bookstore Manager' || currentUser.Role == 'Subcity Manager'">
                <p>{{ 'Aside.SubcityStock' | translate }}</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item has-treeview"
          *ngIf="currentUser.Role == 'Main Admin' || currentUser.Role == 'School Employee' || currentUser.Role == 'Bookstore Employee' || currentUser.Role == 'Bookstore Manager'"
        >
          <a href="#" class="nav-link">
            <p>
              <i class="pr-1 fas fa-book"></i>
              {{ 'Aside.Report' | translate }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a [routerLink]="['/report/book-request-report']"  class="nav-link" *ngIf="currentUser.Role != 'Bookstore Employee'">
                <p>{{ 'Aside.BookRequestReport' | translate }}</p>
              </a>

              <a [routerLink]="['/report/purchase-book-report']" *ngIf="currentUser.Role == 'Main Admin' || currentUser.Role == 'Bookstore Manager'" class="nav-link">
                <p>{{ 'Aside.PurchaseReport' | translate }}</p>
              </a>

              <a [routerLink]="['/report/budget-report']" *ngIf="currentUser.Role == 'Main Admin' || currentUser.Role == 'Bookstore Manager'" class="nav-link">
                <p>{{ 'Aside.BudgetTransactionReport' | translate }}</p>
              </a>

              <a [routerLink]="['/report/log-audit/list']" *ngIf="currentUser.Role == 'Main Admin'" class="nav-link">
                <p>{{ 'Aside.LogAuditReport' | translate }}</p>
              </a>
              <a [routerLink]="['/report/bank-slip']" *ngIf="currentUser.Role == 'Bookstore Employee'" class="nav-link">
                <p>{{ 'Aside.BankSlipReceiptVoucher' | translate }}</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
