<div class="background"></div>

<div class="container">
  <div class="col-md-10">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">User Registration</h3>
      </div>
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="col-md-12">
            <!-- <div class="form-group">
                User Type
                <ng-select
                  [items]="userTypeList"
                  [(ngModel)]="UserTypeId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select User-Type"
                  (change)="onUserTypeChange(UserTypeId)"
                >
                </ng-select>
              </div> -->

            <div class="form-group" *ngIf="isSchool">
              School
              <ng-select
                [items]="schoolList"
                [(ngModel)]="model.SchoolId"
                [ngModelOptions]="{ standalone: true }"
                bindLabel="Name"
                bindValue="Id"
                placeholder="Select School"
                (change)="onSchoolChange(model.SchoolId)"
              >
              </ng-select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="FirstName" class="col-form-label"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    name="FirstName"
                    #FirstName="ngModel"
                    [(ngModel)]="model.FirstName"
                    placeholder="Enter Full Name"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="SecondName" class="col-form-label"
                    >Second Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="SecondName"
                    name="SecondName"
                    #SecondName="ngModel"
                    [(ngModel)]="model.SecondName"
                    placeholder="Enter Second Name"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="LastName" class="col-form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="LastName"
                    name="LastName"
                    #LastName="ngModel"
                    [(ngModel)]="model.LastName"
                    placeholder="Enter Last Name"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <input
                    type="text"
                    (blur)="checkEmail(emailref)"
                    placeholder="Enter Valid Email"
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    id="email"
                    name="Email"
                    #emailref="ngModel"
                    [(ngModel)]="model.Email"
                    required
                  />

                  <!-- <div *ngIf="emailref.touched && emailref.invalid">
                    <div [hidden]="!emailref.errors?.pattern" class="alert p-1 mt-1 text-danger font-weight-bold">
                      Enter Valid Email
                    </div>
                    <div *ngIf="emailref.errors.required" class="alert p-1 mt-1 text-danger font-weight-bold" >
                    The field is Required
                  </div>
                  </div> -->
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="Password" class="col-form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="Password"
                    name="Password"
                    #Password="ngModel"
                    [(ngModel)]="model.Password"
                    placeholder="Enter Password"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="RoleId" class="col-form-label">User Type</label>
                  <ng-select
                    [items]="roleList"
                    [(ngModel)]="model.RoleId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select Role"
                    [disabled]="true"
                  >
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="RegionId" class="col-form-label">Region</label>
                  <ng-select
                    [items]="regionList"
                    [(ngModel)]="model.RegionId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select Region"
                  >
                  </ng-select>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="PhoneNumber" class="col-form-label"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="PhoneNumber"
                    name="PhoneNumber"
                    #PhoneNumber="ngModel"
                    [(ngModel)]="model.PhoneNumber"
                    placeholder="Enter Phone Number"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="Address" class="col-form-label">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Address"
                    name="Address"
                    #Address="ngModel"
                    [(ngModel)]="model.Address"
                    placeholder="Enter Address"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="SubcityId" class="col-form-label">Subcity</label>
                  <ng-select
                    [items]="subcityList"
                    [(ngModel)]="model.SubcityId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select Subcity"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="WoredaId" class="col-form-label">Woreda</label>
                  <ng-select
                    [items]="woredaList"
                    [(ngModel)]="model.WoredaId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select Woreda"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col" *ngIf="isSchool">
                <div class="form-group">
                  <label for="OwnershipId" class="col-form-label"
                    >Ownership</label
                  >
                  <ng-select
                    [items]="ownershipList"
                    [(ngModel)]="model.OwnershipId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select Ownership"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col" *ngIf="isSchool">
                <div class="form-group">
                  <label for="SchoolLavelId" class="col-form-label"
                    >School Level</label
                  >
                  <ng-select
                    [items]="schoolLavelList"
                    [(ngModel)]="model.SchoolLavelId"
                    [ngModelOptions]="{ standalone: true }"
                    bindLabel="Name"
                    bindValue="Id"
                    placeholder="Select School Level"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="Photograph" class="col-form-label"
                    >Photograph</label
                  >
                  <input
                    type="file"
                    accept="image/*"
                    class="form-control"
                    id="Photograph"
                    name="Photograph"
                    #Photograph="ngModel"
                    (change)="onChangeFile($event.target.files)"
                    ngModel
                    required
                  />
                  <div class="mt-1">
                    <img
                      *ngIf="imageUrl != ''"
                      [src]="imageUrl"
                      height="200"
                      width="200"
                      class="img-thumbnail"
                      alt="User_Photograph"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 offset-4">

                    <div class="form-group">
                      <button
                        type="button"
                        class="btn btn-success btn-block"
                        [disabled]="
                          !form.valid ||
                          !isSubmittable ||
                          !model.RoleId ||
                          !model.WoredaId ||
                          !model.SubcityId ||
                          !model.RegionId
                        "
                        (click)="onSubmit()"
                      >
                        <i class="fas fa-save"></i>&nbsp; &nbsp;Create
                      </button>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-center">
              Have Already an Account ?
              <a
                [routerLink]="['/user-auth/login']"
                class="text-center text-blue"
              >
                <u> Login here</u>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
