.background {
  background-image: linear-gradient(to right bottom, rgba(5, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../../../../../assets/img/pexels-photo-1370298.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;

}
.container{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}