<div class="col-md-6 offset-3">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ 'Report.UpdateStock' | translate }}</h3>
    </div>
    <div class="card-body">
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.Book.BookSubject' | translate }}
                <ng-select
                  [items]="subjectList"
                  [(ngModel)]="model.BookSubjectId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Book Subject"
                  (change)="onChange()"
                >
                </ng-select>
              </div>

              <div class="form-group">
                {{ 'Model.Book.BookLanguage' | translate }}
                <ng-select
                  [items]="languageList"
                  [(ngModel)]="model.BookLanguageId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Book Language"
                  (change)="onChange()"
                >
                </ng-select>
              </div>

               <div class="form-group">
                {{ 'Model.Book.BookGrade' | translate }}
                <ng-select
                  [items]="gradeLavelList"
                  [(ngModel)]="model.BookGradeId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Book Grade Level" 
                  (change)="onChange()"
                >
                </ng-select>
              </div>

              <div class="form-group">
                {{ 'Model.Book.StockQuantity' | translate }}
                <div>
                  <input
                    type="number"
                    class="form-control"
                    id="existingQuantity"
                    name="existingQuantity"
                    [(ngModel)]="existingQuantity"
                    required
                    disabled
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
               {{ 'Model.Book.NewStockQuantity' | translate }}
                <div>
                  <input
                    type="number"
                    class="form-control"
                    id="newQuantity"
                    name="newQuantity"
                    [(ngModel)]="newQuantity"
                    required
                    placeholder="Enter New Stock Quantity"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label"></label>
                <div>
                  <button
                    type="button"
                    class="btn btn-success col-md-3 m-1"
                    [disabled]="!form.valid || !model.BookSubjectId || !model.BookLanguageId || !model.BookGradeId"
                    (click)="onSubmit()"
                  >
                    <i class="fas fa-save"></i>&nbsp; &nbsp;{{ 'Button.Create' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
