<div class="card card-info">
  <div class="card-header">

    {{ 'Model.School.SchoolDetail' | translate }}
    <button type="button" style="color: white;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <ng-container *ngIf="model != null">
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.SchoolName' | translate }}:</b></div>
        <div class="col-sm-7">{{model? model.Name: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>Number Of Students:</b></div>
        <div class="col-sm-7">{{model? model.NumberOfStudent: "" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.Subcity' | translate }}:</b></div>
        <div class="col-sm-7">{{model.SchoolSubcity ? model.SchoolSubcity.Name:"" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.Woreda' | translate }}:</b></div>
        <div class="col-sm-7">{{ model.SchoolWoreda? model.SchoolWoreda.Name:"" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.Woreda1' | translate }}:</b></div>
        <div class="col-sm-7">{{model.Woreda1? model.Woreda1.Name:"" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.Level' | translate }}:</b></div>
        <div class="col-sm-7">{{model.SchoolLavel? model.SchoolLavel.Name:"" }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5"><b>{{ 'Model.School.Ownership' | translate }}:</b></div>
        <div class="col-sm-7">{{model.SchoolOwnership? model.SchoolOwnership.Name:"" }}</div>
      </div>
    </ng-container>
  </div>
</div>
