<div class="card-header">
  <h3 class="card-title">{{ 'Model.PurchaseBook.MakeAPurchase' | translate }}</h3>

  <div class="card-tools">
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="collapse"
      data-toggle="tooltip"
      title="Collapse"
    >
      <i class="fas fa-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="remove"
      data-toggle="tooltip"
      title="Remove"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="SupplierId" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.Supplier' | translate }}</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="SupplierId"
              name="SupplierId"
              #SupplierId="ngModel"
              [(ngModel)]="model.SupplierId"
              required
            >
              <option *ngFor="let item of supplierList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="BudgetTypeId" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.BudgetType' | translate }}</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="BudgetTypeId"
              name="BudgetTypeId"
              #BudgetTypeId="ngModel"
              [(ngModel)]="model.BudgetTypeId"
              required
              (change)="getBudgetAmount(model.BudgetTypeId)"
            >
              <option *ngFor="let item of budgetTypeList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="budgetAmount" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.BudgetAmount' | translate }}</label>
          <div class="col-md-7">
            <input
            type="text"
            name="budgetAmount"
            class="form-control"
            [(ngModel)]="budgetAmount"
            disabled
          />
          </div>
        </div>
      </div>
    </div>

    <hr />

    <form #formRow="ngForm" (ngSubmit)="onNewLine(formRow)">
      <div class="row">
        <div class="col">
          {{ 'Model.Book.BookSubject' | translate }}
          <ng-select
          
            [items]="subjectList"
            bindLabel="Name"
            bindValue="Id"
            ngModel
            name="BookSubjectId"
            required
            (change)="getPrice(formRow)"
          >
          </ng-select>
        </div>
        <div class="col">
          {{ 'Model.Book.BookGrade' | translate }}
          <ng-select
            [items]="gradeList"
            bindLabel="Name"
            bindValue="Id"
            (change)="getPrice(formRow)"
            ngModel
            name="BookGradeLavelId"
            required
          >
          </ng-select>
        </div>
        <div class="col">
          {{ 'Model.Book.BookLanguage' | translate }}
          <ng-select
          
            [items]="languageList"
            bindLabel="Name"
            bindValue="Id"
            (change)="getPrice(formRow)"
            ngModel
            name="BookLanguageId"
            required
          >
          </ng-select>
        </div>

        <div class="col">
          {{ 'Model.Book.Price' | translate }}
          <input
            type="text"
         
            class="form-control"
            [(ngModel)]="BookPrice"
            name="BookPrice"
            required
          />
        </div>

        <div class="col">
          {{ 'Model.Book.Quantity' | translate }}
          <input
            type="text"
            class="form-control"
            ngModel
            name="Quantity"
            required
          />
        </div>

        <div class="col">
          <button
            type="button"
            class="btn m-1 btn-primary mt-4"
            [disabled]="!formRow.valid"
            (click)="onNewLine(formRow)"
          >
            {{ 'Button.AddNew' | translate }}
          </button>
        </div>
      </div>
    </form>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead class="bg-info">
            <tr>
              <th>#</th>
              <th>{{ 'Model.Book.BookSubject' | translate }}</th>
              <th>{{ 'Model.Book.BookGrade' | translate }}</th>
              <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
              <th>{{ 'Model.Book.Quantity' | translate }}</th>
              <th>{{ 'Model.Book.Price' | translate }}</th>
              <th>{{ 'Model.Book.TotalPrice' | translate }}</th>
              <th>{{ 'Model.Book.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderLine of orderVmList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ orderLine.BookSubjectName }}
              </td>
              <td>
                {{ orderLine.BookGradeName }}
              </td>
              <td>
                {{ orderLine.BookLanguageName }}
              </td>
              <td>
                {{ orderLine.Quantity }}
              </td>
              <td>
                {{ orderLine.BookPrice }}
              </td>
              <td>
                {{ orderLine.BookPrice * orderLine.Quantity }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn m-1 btn-sm btn-danger"
                  (click)="onDeleteLine(i)"
                >
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-8">
        <div class="form-group row">
          <label for="Amount" class="col-md-3 col-form-label"
            >{{ 'Model.PurchaseBook.TotalAmount' | translate }}</label
          >
          <div class="col-md-7">
            <input
              type="number"
              class="form-control"
              id="Amount"
              name="Amount"
              #Amount="ngModel"
              [(ngModel)]="model.Amount"
              placeholder="Amount"
              required
              disabled
            />
          </div>
        </div>

        
        <div class="form-group row">
          <label for="TransactionTrackingNumber" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.TransactionTrackingNumber' | translate }}</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="TransactionTrackingNumber"
              name="TransactionTrackingNumber"
              #TransactionTrackingNumber="ngModel"
              [(ngModel)]="model.TransactionTrackingNumber"
              placeholder="Transaction Tracking Number"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="ReferenceNumber" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.ReferenceNumber' | translate }}</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="ReferenceNumber"
              name="ReferenceNumber"
              #ReferenceNumber="ngModel"
              [(ngModel)]="model.ReferenceNumber"
              placeholder="Reference Number"
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="Note" class="col-md-3 col-form-label">{{ 'Model.PurchaseBook.Note' | translate }}</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="Note"
              name="Note"
              #Note="ngModel"
              [(ngModel)]="model.Note"
              placeholder="Note"
            />
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="">
        <div class="form-group row">
          <button
            type="button"
            class="btn btn-success m-1"
            [disabled]="!form.valid || orderVmList.length == 0"
            (click)="onSubmit('/order/list')"
          >
            {{ 'Button.PurchaseNow' | translate }}
          </button>
          <!-- <button
            type="button"
            class="btn btn-default m-1 col-md-3"
            (click)="reset()"
          >
            Cancel
          </button> -->
        </div>
      </div>
    </div>
  </form>
</div>

