<div class="card-header bg-primary">
  <h3 class="card-title">{{ 'Model.Book.CreateBook' | translate }}</h3>

  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
      <i class="fas fa-minus"></i></button>
    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
      <i class="fas fa-times"></i></button>
  </div>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 offset-3">
          <div class="form-group">
            {{ 'Model.Book.BookSubject' | translate }}
            <ng-select [items]="subjectList" [(ngModel)]="model.BookSubjectId"
              [ngModelOptions]="{ standalone: true }" bindLabel="Name" bindValue="Id" placeholder="ALL">
            </ng-select>
          </div>
            <div class="form-group">
              {{ 'Model.Book.BookLanguage' | translate }}
              <ng-select [items]="languageList" [(ngModel)]="model.BookLanguageId"
                [ngModelOptions]="{ standalone: true }" bindLabel="Name" bindValue="Id" placeholder="ALL">
              </ng-select>
            </div>
            <div class="form-group">
              {{ 'Model.Book.BookGrade' | translate }}
              <ng-select [items]="gradeLavelList" [(ngModel)]="model.BookGradeLavelId"
                [ngModelOptions]="{ standalone: true }" bindLabel="Name" bindValue="Id" placeholder="ALL">
              </ng-select>
            </div>

          <div class="form-group ">
            <label for="PageNo" class="col-form-label">{{ 'Model.Book.PageNo' | translate }}</label>
            <input type="number" class="form-control" id="PageNo" name="PageNo" #PageNo="ngModel"
              [(ngModel)]="model.PageNo" placeholder="Total Page of Book" required>

            <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="PageNo.touched && PageNo.invalid">
              The field is Required
            </span>
          </div>

          <div class="form-group ">
            <label for="PurchasePrice" class="col-form-label">{{ 'Model.Book.PurchasePrice' | translate }}</label>
            <input type="number" class="form-control" id="PurchasePrice" name="PurchasePrice" #PurchasePrice="ngModel"
              [(ngModel)]="model.PurchasePrice" placeholder="Enter Purchase Price of Book" required>

            <span class="alert p-1 mt-1 text-danger font-weight-bold"
              *ngIf="PurchasePrice.touched && PurchasePrice.invalid">
              The field is Required
            </span>
          </div>

          <div class="form-group ">
            <label for="SalePrice" class="col-form-label">{{ 'Model.Book.SalesPrice' | translate }}</label>
            <input type="number" class="form-control" id="SalePrice" name="SalePrice" #SalePrice="ngModel"
              [(ngModel)]="model.SalePrice" placeholder="Enter Sale Price of Book" required>
            <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="SalePrice.touched && SalePrice.invalid">
              The field is Required
            </span>
          </div>

          <div class="form-group ">
            <button type="button" class="btn btn-info col-md-3" [disabled]="!form.valid || !model.BookSubjectId || !model.BookLanguageId || !model.BookGradeLavelId" (click)="onAdd()">
             <i class="fas fa-save"></i>&nbsp; &nbsp; {{ 'Button.Create' | translate }} </button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
