<div class="card-header">
    <h3 class="card-title">{{title}} List</h3>
</div>
<div class="card-body">
    <a class="btn m-1 btn-sm btn-info" [routerLink]="[createLink]">Create New</a>

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of modelList; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.Name}}</td>
                <td>
                    <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)"> Detail </button>
                    <button type="button" class="btn m-1 btn-sm btn-primary" (click)="onEdit(item.Id)"> Edit </button>
                    <!-- <button type="button" class="btn m-1 btn-sm btn-danger" (click)="onDelete(item.Id,apiUrl)"> Delete
                    </button> -->
                </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
                <td colspan="3">
                    <h6>Loading data...</h6>
                </td>
            </tr>
            <tr *ngIf="modelList && modelList.length==0" class="text-center">
                <td colspan="3">
                    <h6>There are no record</h6>
                </td>
            </tr>
        </tbody>
    </table>
</div>