<div class="card-header">
    <h3 class="card-title">Create {{title}}</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
    </div>
</div>
<div class="card-body">
    <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label for="Name" class="col-md-3 col-form-label">Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel"
                                [(ngModel)]="model.Name" placeholder="Name" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <button type="button" class="btn btn-info m-1" [disabled]="!form.valid"
                            (click)="onSubmit('/role/list')">
                            {{editMode?'Update':'Save'}} </button>
                        <button type="button" class="btn btn-default m-1" (click)="reset()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>