<div class="col-md-6 offset-3">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ 'Model.Common.CreateGradeLevel' | translate }}</h3>
    </div>
    <div class="card-body">
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.Common.GradeLevelName' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="Name"
                    name="Name"
                    #Name="ngModel"
                    [(ngModel)]="model.Name"
                    placeholder="Enter Name"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label"></label>
                <div>
                  <button
                    type="button"
                    class="btn btn-success col-md-3 m-1"
                    [disabled]="!form.valid"
                    (click)="onSubmit()"
                  >
                    <i class="fas fa-save"></i>&nbsp; &nbsp;{{ 'Button.Create' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


