<div *ngIf="currentUser.Role == 'Purchase Department'">
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ model ? model.PendingRequest : "" }}</h3>

          <p>{{ 'Dashboard.PendingPurchaseRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('pending')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-teal">
        <div class="inner">
          <h3>{{ model ? model.CompletedRequest : "" }}</h3>

          <p>{{ 'Dashboard.CompletedPurchaseRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a
          (click)="onRequestClick('completed')"
          class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-cyan">
        <div class="inner">
          <h3>{{ model ? model.TotalRequest : "" }}</h3>
          <p>{{ 'Dashboard.TotalPurchaseRequest' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a (click)="onRequestClick('total')" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <h3>{{ model ? model.TotalPurchase : "" }}</h3>
          <p>{{ 'Dashboard.TotalPurchase' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-university"></i>
        </div>
        <a (click)="onTotalPurchase()" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

        <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <h3>{{ model ? model.TotalSupplier : "" }}</h3>
          <p>{{ 'Dashboard.TotalSupplier' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-university"></i>
        </div>
        <a (click)="onTotalSupplier()" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

            <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ model ? model.LowStock : "" }} {{ 'Dashboard.Books' | translate }}</h3>
          <p>{{ 'Dashboard.LowStockNeedtoPurchase' | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-book"></i>
        </div>
        <a (click)="onLowStock()" class="small-box-footer hand-hover"
          >View <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

  </div>

    <div class="card card-info">
    <div class="card-header">{{ 'Dashboard.BudgetInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorSchemeForBudget"
            [results]="model.BudgetChartdata"
            [gradient]="gradient"
            label="{{ 'Dashboard.TotalBudget' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
