<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ title }} List</h3>
  </div>
  <div class="card-body">
    <a *ngIf="currentUser.Role == 'SchoolEmployee'" class="btn m-1 btn-sm btn-info" [routerLink]="[createLink]">Create
      New</a>

    <hr />

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "Model.Order.TrackingNo" | translate }}</th>
          <th>{{ "Model.Order.SchoolName" | translate }}</th>
          <th>{{ "Model.Order.Date" | translate }}</th>
          <th>{{ "Model.Order.Amount" | translate }}</th>
          <th *ngIf="this.currentUser.Role == 'School Employee'">
            {{ "Model.Order.ApprovalInfo" | translate }}
          </th>
          <th>{{ "Model.Order.Status" | translate }}</th>
          <!-- <th *ngIf="currentUser.Role=='Bookstore Employee'">Reviewed By Manager</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="
            let item of modelList
              | paginate: { itemsPerPage: 10, currentPage: p };
            let i = index
          ">
          <th scope="row">{{ p * 10 - 10 + 1 + i }}</th> -->
        <tr *ngFor="
            let item of modelList;
            let i = index
          ">
          <th scope="row">{{  i+1 }}</th>
          <td>{{ item.TrackingNo }}</td>
          <td>{{ item.School.Name }}</td>

          <td>{{ item.OrderDate | date }}</td>
          <td>{{ item.Amount }}</td>
          <td *ngIf="this.currentUser.Role == 'School Employee'">

            <span *ngIf="item.Status == 7">-</span>
            <span *ngIf="item.Status != 7">{{ item.ApprovalInfo }}</span>
            
          </td>

          <td *ngIf="currentUser.Role == 'Main Admin'">
            <span *ngIf="
                item.Status == 1 ||
                item.Status == 2 ||
                item.Status == 3 ||
                item.Status == 6
              " class="badge badge-warning">{{ 'Status.Pending' | translate }}</span>
            <span *ngIf="item.Status == 4 || item.Status == 7" class="badge badge-success">{{ 'Status.Approved' | translate }}</span>
            <span *ngIf="item.Status == 5" class="badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
            <!-- <span *ngIf="currentUser.Role=='SchoolEmployee' && item.Status==5" class="badge badge-info">Collect
                            your book from the store</span>
                        <span *ngIf="currentUser.Role=='HOEmployee'||currentUser.Role=='HOManager' && item.Status==5"
                            class="badge badge-info">Bank Slip uploaded</span> -->
          </td>

          <td *ngIf="currentUser.Role == 'School Employee'">
            <span *ngIf="item.Status == 1" class="badge badge-warning">{{ 'Status.UnderReview' | translate }}</span>
            <span *ngIf="item.Status == 2" class="badge badge-info">{{ 'Status.ApprovedUploadBankClip' | translate }}</span>
            <span *ngIf="item.Status == 3" class="badge badge-info">{{ 'Status.BankSlipUploaded' | translate }}</span>
            <span *ngIf="item.Status == 4" class="badge badge-success">{{ 'Status.CollectFromMainStore' | translate }}</span>
            <span *ngIf="item.Status == 8" class="badge badge-success">{{ 'Status.CollectFromSucityStore' | translate }}</span>
            <span *ngIf="item.Status == 5" class="badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
            <span *ngIf="item.Status == 6" class="badge badge-warning">{{ 'Status.OutOfStockSo' | translate }}
            </span>
            <span *ngIf="item.Status == 7" class="badge badge-primary">{{ 'Status.Completed' | translate }}</span>
            <!-- <span *ngIf="currentUser.Role=='SchoolEmployee' && item.Status==5" class="badge badge-info">Collect
                            your book from the store</span>
                        <span *ngIf="currentUser.Role=='HOEmployee'||currentUser.Role=='HOManager' && item.Status==5"
                            class="badge badge-info">Bank Slip uploaded</span> -->
          </td>

          <td *ngIf="currentUser.Role == 'Bookstore Employee'">
            <span *ngIf="item.BookstoreEmployeeStatus == 1" class="badge badge-warning">{{ 'Status.Pending' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 2" class="badge badge-warning">{{ 'Status.UnderReviewManager' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 3" class="badge badge-info">{{ 'Status.CheckBankSlip' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 4" class="badge badge-warning">{{ 'Status.WaitingBankSlip' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 5" class="badge badge-success">{{ 'Status.Approved' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 6" class="badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 7" class="badge badge-primary">{{ 'Status.Completed' | translate }}</span>
            <span *ngIf="item.BookstoreEmployeeStatus == 8" class="badge badge-warning">{{ 'Status.OutOfStock' | translate }} </span>
          </td>
          <!-- <td *ngIf="currentUser.Role=='Bookstore Employee'">
                        <span *ngIf="item.BookstoreManagerStatus==0" class="badge badge-dark">Not Requested</span>
                        <span *ngIf="item.BookstoreManagerStatus==1" class="badge badge-warning">Pending</span>
                        <span *ngIf="item.BookstoreManagerStatus==2" class="badge badge-success">Approved</span>
                        <span *ngIf="item.BookstoreManagerStatus==3" class="badge badge-danger">Rejected</span>
                    </td> -->

          <td *ngIf="currentUser.Role == 'Bookstore Manager'">
            <span *ngIf="item.BookstoreManagerStatus == 1" class="badge badge-warning">{{ 'Status.Pending' | translate }}</span>
            <span *ngIf="item.BookstoreManagerStatus == 2" class="badge badge-success">{{ 'Status.Approved' | translate }}</span>
            <span *ngIf="item.BookstoreManagerStatus == 3" class="badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
            <span *ngIf="item.BookstoreManagerStatus == 4" class="badge badge-primary">{{ 'Status.Completed' | translate }}</span>
          </td>

          <td *ngIf="currentUser.Role == 'Subcity Manager'">
            <span *ngIf="item.Status == 8" class="badge badge-success">{{ 'Status.Approved' | translate }}</span>
            <span *ngIf="item.Status == 7" class="badge badge-primary">{{ 'Status.Completed' | translate }}</span>
          </td>

          <td>
            <button type="button" title="Details" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)">
             <i class="fas fa-eye"></i>
            </button>
            <button *ngIf="
                currentUser.Role == 'School Employee' &&
                !item.IsRequestedToManger &&
                item.BookstoreEmployeeStatus != 6
              " type="button" title="Edit" class="btn m-1 btn-sm btn-primary" (click)="onEdit(item.Id)">
              <i class="fas fa-edit"></i>
            </button>
            <button *ngIf="
                currentUser.Role == 'School Employee' &&
                !item.IsRequestedToManger &&
                item.BookstoreEmployeeStatus != 6
              " type="button" class="btn m-1 btn-sm btn-danger" title="Delete" (click)="onDelete(item.Id, item, apiUrl)">
              <i class="fas fa-trash"></i> 
            </button>
            <button *ngIf="currentUser.Role == 'School Employee' && item.Status == 2" type="button"
              class="btn m-1 btn-sm btn-primary" (click)="openFileUploadModal(item.Id)">
              {{ "Button.UploadBankSlip" | translate }}
            </button>
            <button *ngIf="
                currentUser.Role == 'Bookstore Employee' && 
                item.BookstoreEmployeeStatus == 5 && item.Status == 4
              " type="button" class="btn m-1 btn-sm btn-primary" (click)="onBookEmployeeCompleted(item.Id)">
              {{ "Button.MarkAsCompleted" | translate }}
            </button>

            <button *ngIf="
                currentUser.Role == 'Subcity Manager' && 
                item.BookstoreEmployeeStatus == 5 && item.Status == 8
              " type="button" class="btn m-1 btn-sm btn-primary" (click)="onBookSubcityCompleted(item.Id)">
              {{ "Button.MarkAsCompleted" | translate }}
            </button>

            <button *ngIf="currentUser.Role != 'Supplier' && item.Status == 7" type="button"
              class="btn m-1 btn-sm btn-success" (click)="onClickReceipt(item.Id)">
              <i class="far fa-file-alt"></i>  {{ "Button.Receipt" | translate }}
            </button>
          </td>
        </tr>
        <tr *ngIf="!modelList" class="text-center">
          <td colspan="7">
            <h6>{{ 'Status.LoadingData' | translate }}...</h6>
          </td>
        </tr>
        <tr *ngIf="modelList && modelList.length == 0" class="text-center">
          <td colspan="7">
            <h6>{{ 'Status.NoRecord' | translate }}</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 
<pagination-controls (pageChange)="p = $event"></pagination-controls> -->
