<div class="card-header bg-info">
    <h3 class="card-title">{{ 'Model.User.UpdateUser' | translate }}</h3>

    <button type="button" class="close pull-right" style="color: white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <form class="form-horizontal" #form="ngForm">
    <div class="card-body">
      <div class="col-md-12">

        <div class="form-group">
          {{ 'Model.User.UserType' | translate }}
          <ng-select [items]="userTypeList" [(ngModel)]="UserTypeId" [ngModelOptions]="{standalone: true}"
            bindLabel="Name" bindValue="Id" placeholder="Select User-Type" (change)="onUserTypeChange(UserTypeId)">
          </ng-select>
        </div>

        <div class="form-group" *ngIf="isSchool">
          {{ 'Model.User.SchoolName' | translate }}
          <ng-select [items]="schoolList" [(ngModel)]="model.SchoolId" [ngModelOptions]="{standalone: true}"
            bindLabel="Name" bindValue="Id" placeholder="Select School" (change)="onSchoolChange(model.SchoolId)">
          </ng-select>
        </div>

      </div>
      <div class="col-md-12">

        <div class="row">

          <div class="col">
            <div class="form-group">
              <label for="FirstName" class="col-form-label">{{ 'Model.User.FirstName' | translate }}</label>
              <input type="text" class="form-control" id="FirstName" name="FirstName" #FirstName="ngModel"
                [(ngModel)]="model.FirstName" placeholder="Enter Name" required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="SecondName" class="col-form-label">{{ 'Model.User.SecondName' | translate }}</label>
              <input type="text" class="form-control" id="SecondName" name="SecondName" #SecondName="ngModel"
                [(ngModel)]="model.SecondName" placeholder="Enter Second Name" required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="LastName" class="col-form-label">{{ 'Model.User.LastName' | translate }}</label>
              <input type="text" class="form-control" id="LastName" name="LastName" #LastName="ngModel"
                [(ngModel)]="model.LastName" placeholder="Enter Last Name" required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email">{{ 'Model.User.Email' | translate }}</label>
              <input type="text" (blur)="onCheckEmail(emailref)" placeholder="Enter Valid Email" class="form-control"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="Email" #emailref="ngModel"
                [(ngModel)]="model.Email" required>


            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Password" class="col-form-label">{{ 'Model.User.Password' | translate }}</label>
              <input type="password" class="form-control" id="Password" name="Password" #Password="ngModel"
                [(ngModel)]="model.Password" placeholder="Enter Password" required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="RoleId" class="col-form-label">{{ 'Model.User.Role' | translate }}</label>
              <ng-select [items]="roleList" [(ngModel)]="model.RoleId" [ngModelOptions]="{standalone: true}"
                bindLabel="Name" bindValue="Id" placeholder="Select Role" [disabled]="isSchool">
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="SubcityId" class="col-form-label">{{ 'Model.User.Subcity' | translate }}</label>
              <ng-select [items]="subcityList" [(ngModel)]="model.SubcityId" [ngModelOptions]="{standalone: true}"
                bindLabel="Name" bindValue="Id" placeholder="Select Subcity">
              </ng-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="WoredaId" class="col-form-label">{{ 'Model.User.Woreda' | translate }}</label>
              <ng-select [items]="woredaList" [(ngModel)]="model.WoredaId" [ngModelOptions]="{standalone: true}"
                bindLabel="Name" bindValue="Id" placeholder="Select Woreda">
              </ng-select>
            </div>
          </div>
                      <div class="col" *ngIf="isSchool">
              <div class="form-group">
                <label for="OwnershipId" class="col-form-label"
                  >{{ 'Model.User.Ownership' | translate }}</label
                >
                <ng-select
                  [items]="ownershipList"
                  [(ngModel)]="model.OwnershipId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Ownership"
                >
                </ng-select>
              </div>
            </div>
            <div class="col" *ngIf="isSchool">
              <div class="form-group">
                <label for="SchoolLavelId" class="col-form-label"
                  >{{ 'Model.User.SchoolLevel' | translate }}</label
                >
                <ng-select
                  [items]="schoolLavelList"
                  [(ngModel)]="model.SchoolLavelId"
                  [ngModelOptions]="{ standalone: true }"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select SchoolLavel"
                >
                </ng-select>
              </div>
            </div>
          <div class="col">
            <div class="form-group">
              <label for="RegionId" class="col-form-label">{{ 'Model.User.Region' | translate }}</label>
              <ng-select [items]="regionList" [(ngModel)]="model.RegionId" [ngModelOptions]="{standalone: true}"
                bindLabel="Name" bindValue="Id" placeholder="Select Region">
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row">


          <div class="col-md-4">
            <div class="form-group">
              <label for="PhoneNumber" class="col-form-label">{{ 'Model.User.PhoneNumber' | translate }}</label>
              <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" #PhoneNumber="ngModel"
                [(ngModel)]="model.PhoneNumber" placeholder="Enter Phone Number" required />
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="Address" class="col-form-label">{{ 'Model.User.Address' | translate }}</label>
              <input type="text" class="form-control" id="Address" name="Address" #Address="ngModel"
                [(ngModel)]="model.Address" placeholder="Enter Address" required />
            </div>
          </div>



        </div>

      </div>
      <div class="col-md-12">
        <div class="row">
         
          <div class="col">
            <div class="form-group">
              <label for="Photograph" class="col-form-label">{{ 'Model.User.Photograph' | translate }}</label>
              <input type="file" accept="image/*" class="form-control" id="Photograph" name="Photograph"
                #Photograph="ngModel" (change)="onChangeFile($event.target.files)" ngModel  />
              <div class=" mt-1">
                <img *ngIf="imageUrl !=''" [src]="imageUrl" height="200" width="200" class=" img-thumbnail"
                  alt="User_Photograph" />
              </div>
  
            </div>
             <div *ngIf="model.Photograph && imageUrl ==''"><img class="img img-thumbnail"  [src]="imgSrc" width="200" height="200" /></div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="col-form-label mr-4">{{ 'Model.User.UserStatus' | translate }} </label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" [checked]="IsActive" (change)="onRadioBtnChange('Active')" name="customRadioInline1"   class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">{{ 'Model.User.Active' | translate }}</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" [checked]="!IsActive" (change)="onRadioBtnChange('Inactive')" name="customRadioInline1"  class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">{{ 'Model.User.Inactive' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col">

          <div class="form-group">
            <button type="button" class="btn btn-info col-md-3" [disabled]="!form.valid || !isSubmittable || !model.RoleId || !model.WoredaId || !model.SubcityId || !model.RegionId"
              (click)="onSubmit()">
              <i class="fas fa-edit"></i>&nbsp; &nbsp;{{ 'Button.Update' | translate }}
            </button>
            <button type="button" class="btn btn-default ml-1 col-md-3" (click)="reset()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
