<div class="card-header">
  <h3 class="card-title">{{ 'Model.PurchaseBook.PurchaseList' | translate }}</h3>
</div>
<div class="card-body">
  <a *ngIf="currentUser.Role=='Purchase Department'" class="btn m-1 btn-sm btn-info"
    [routerLink]="['/purchase-book/create']">
  <h3 class="card-title">{{ 'Button.CreateNew' | translate }}</h3>
    </a>

  <table class="table table-sm table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'Model.PurchaseBook.PurchaseNo' | translate }}</th>
        <th>{{ 'Model.PurchaseBook.PurchaseDate' | translate }}</th>    
        <th>{{ 'Model.PurchaseBook.PurchasedBy' | translate }}</th>
        <th>{{ 'Model.PurchaseBook.Amount' | translate }}</th>
        <th>{{ 'Model.PurchaseBook.BudgetType' | translate }}</th>
        <th>{{ 'Model.PurchaseBook.Supplier' | translate }}</th>
        <!-- <th *ngIf="currentUser.Role=='Bookstore Employee'">Reviewed By Manager</th> -->
        <th>{{ 'Model.PurchaseBook.Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of modelList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.PurchaseId}}</td>
        <td>{{item.PurchaseDate| date}}</td>     
        <td>{{item.PurcahseDeptEmployee.FullName}}</td>
        <td>{{item.Amount}}</td>
        <td>{{item.BudgetType.Name}}</td>
        <td>{{item.Supplier.Name}}</td>
        
        <td>
        <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)"><i class="fas fa-eye"></i> {{ 'Button.Detail' | translate }} </button>
          <button *ngIf="currentUser.Role !='School Employee'" type="button"
            class="btn m-1 btn-sm btn-success" (click)="onClickReceipt(item.Id)"> <i class="far fa-file-alt"></i> {{ 'Button.Receipt' | translate }} 
          </button>
        </td>

      </tr>
      <tr *ngIf="!modelList" class="text-center">
        <td colspan="7">
          <h6>Loading data...</h6>
        </td>
      </tr>
      <tr *ngIf="modelList && modelList.length==0" class="text-center">
        <td colspan="7">
          <h6>There are no record</h6>
        </td>
      </tr>
    </tbody>
  </table>
</div>
