<div class="card card-primary">

  
  <div class="card-header">
    <h3 class="card-title"> {{ 'Model.SubcityStore.RequestList' | translate }}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 offset-3">

        <input type="text" [(ngModel)]="searchVm.RequestId" class="form-control  d-inline-block" style="width: 80%;" placeholder="Enter The Request Id"/>
        <button class="btn btn-primary  d-inline-block" (click)="getAll()"><i class="fas fa-search"></i> {{ 'Button.Search' | translate }}</button>
        <div class=" clearfix">
      </div>
    </div>

    </div>

    <hr>
    <div class="row">
      <div class="col-md-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.SubcityStore.RequestId' | translate }}</th>
              <th>{{ 'Model.SubcityStore.Subcity' | translate }}</th>
              <th>{{ 'Model.SubcityStore.Date' | translate }}</th>
              <th>{{ 'Model.SubcityStore.Status' | translate }}</th>
              <th>{{ 'Model.SubcityStore.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of modelList ; let i=index ">
              
              <th scope="row">{{i+1}}</th>
              <td>{{item.RequestId?item.RequestId:""}}</td>
              <td>{{item.Subcity ? item.Subcity.Name: ""}}</td>
              <td>{{item.Date | date}}</td>
              <td>
                <div *ngIf="currentUser.Role=='Subcity Manager'">
                    <span *ngIf="item.Status==1" class=" badge badge-warning">{{ 'Status.Pending' | translate }}</span>
                    <span *ngIf="item.Status==2" class=" badge badge-success">{{ 'Status.CollectBookMainStore' | translate }}</span>
                    <span *ngIf="item.Status==3" class=" badge badge-primary">{{ 'Status.Completed' | translate }}</span>
                    <span *ngIf="item.Status==4" class=" badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
                </div>
                <div *ngIf="currentUser.Role=='Bookstore Manager'">
                    <span *ngIf="item.Status==1" class=" badge badge-warning">{{ 'Status.Pending' | translate }}</span>
                    <span *ngIf="item.Status==2" class=" badge badge-success">{{ 'Status.Approved' | translate }}</span>
                    <span *ngIf="item.Status==3" class=" badge badge-primary">{{ 'Status.Completed' | translate }}</span>
                    <span *ngIf="item.Status==4" class=" badge badge-danger">{{ 'Status.Rejected' | translate }}</span>
                </div>
                <div *ngIf="currentUser.Role=='Bookstore Employee'">
                    <span *ngIf="item.Status==2" class=" badge badge-success">{{ 'Status.TransferBookSubcity' | translate }}</span>
                    <span *ngIf="item.Status==3" class=" badge badge-primary">{{ 'Status.Completed' | translate }}</span>
                </div>
              </td>
              <td>
                <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="openDetailModal(item.Id)">
                  <i class="fas fa-eye"></i> 
                </button>
              </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
              <td colspan="7">
                <h6>{{ 'Status.LoadingData' | translate }}...</h6>
              </td>
            </tr>
            <tr *ngIf="modelList && modelList.length==0" class="text-center">
              <td colspan="7">
                <h6>{{ 'Status.NoRecord' | translate }}</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
