<!-- Site wrapper -->
<div class="wrapper">
    <app-nav></app-nav>
    <app-aside></app-aside>
    <div class="content-wrapper">
        <br>
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
    <app-footer></app-footer>
</div>