
<div class="container">
    <div class="card">

        <div class="card-body text-center">
            <h2 class=" text-danger">Sorry, Request for Today reached the Limit</h2>
            <h3 class=" text-primary">Please try in the next day</h3>
        </div>
    </div>
</div>
