<div class="card card-primary">
  <div class="card-body">


    <form class="form-horizontal" #form="ngForm">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-8 offset-2">
              <div class="form-group">

                <label for="SchoolFile" class="col-form-label">SchoolFile</label>
                <input type="file" class="form-control" id="SchoolFile" name="SchoolFile" #SchoolFile="ngModel"
                  (change)="onChangeFile($event.target.files)" ngModel required />

                <span class="alert p-1 mt-1 text-danger font-weight-bold"
                  *ngIf="SchoolFile.touched && SchoolFile.invalid">
                  The field is Required
                </span>


              </div>
              <div class="form-group">
                  {{ status }}
              </div>

              <div class="form-group">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!form.valid || isSubmittalbe">Import Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
