
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ 'FormTitle.BankSlipList' | translate }}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Order.OrderNo' | translate }}</th>
              <th>{{ 'Model.Order.SchoolName' | translate }}</th>
              <th>{{ 'Model.Order.TotalAmount' | translate }}</th>
              <th>{{ 'Model.Order.BankSlip' | translate }}</th>
              <th>{{ 'Model.Order.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of modelList; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.OrderNo?item.OrderNo:""}}</td>
              <td>{{item.SchoolName?item.SchoolName:""}}</td>
              <td>{{item.TotalAmount?item.TotalAmount:""}}</td>
              <td><button
                class="btn btn-secondary btn-sm"
                (click)="downloadFile(item.File)"
              >
                {{ 'Button.SeeBankFile' | translate }}
              </button></td>
              <td *ngIf="currentUser.Role=='Bookstore Employee'">
                <button type="button" class="btn btn-sm m-1 btn-info" title="Detail" (click)="openDetailModal(item.OrderId)">
                  <i class="fas fa-eye"></i> {{ 'Button.Details' | translate }}
                </button>
                <button *ngIf="!item.BankReceiptId" class="btn btn-sm btn-success" (click)="onReceiptVoucher(item.OrderId)"><i class="fas fa-pencil-alt"> </i> {{ 'Button.CreateVoucher' | translate }}</button>
                <button *ngIf="item.BankReceiptId" class="btn btn-sm btn-primary" (click)="onClickReceipt(item.OrderId)"><i class="far fa-file-alt"></i>   {{ 'Button.ReceiptVoucher' | translate }}</button>
              </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
              <td colspan="7">
                <h6>Loading data...</h6>
              </td>
            </tr>
            <tr *ngIf="modelList && modelList.length==0" class="text-center">
              <td colspan="7">
                <h6>There are no record</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


