<div class="card-header bg-primary">
  <h3 class="card-title" *ngIf="!this.modelId">{{ 'Model.Order.Title' | translate }}</h3>
  <h3 class="card-title" *ngIf="this.modelId">Update Request</h3>

  <div class="card-tools">
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="collapse"
      data-toggle="tooltip"
      title="Collapse"
    >
      <i class="fas fa-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="remove"
      data-toggle="tooltip"
      title="Remove"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="model.IsSchool == true" class="form-group row">
          <label for="SchoolId" class="col-md-5 col-form-label">{{ 'Model.Order.School' | translate }}</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="SchoolId"
              name="SchoolId"
              #SchoolId="ngModel"
              [(ngModel)]="model.SchoolId"
              required
              disabled
            >
              <option *ngFor="let item of schoolList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
              <label for="BookstoreEmployeeId" class="col-form-label col-md-5">{{ 'Model.Order.BookstoreEmployee' | translate }}</label>
              <div class="col-md-7">

                <ng-select [items]="bookstoreEmployeeList" [(ngModel)]="model.BookstoreEmployeeId" [ngModelOptions]="{standalone: true}"
                  bindLabel="FullName" bindValue="Id" placeholder="Select One">
                </ng-select>
              </div>
            </div>
<!-- 
        <div *ngIf="model.IsSchool == false" class="form-group row">
          <label for="HoId" class="col-md-3 col-form-label"> Head Office</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="HoId"
              name="HoId"
              #HoId="ngModel"
              [(ngModel)]="model.HoId"
            >
              <option *ngFor="let item of hoList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="model.IsSchool == false" class="form-group row">
          <label for="SupplierId" class="col-md-3 col-form-label">
            Supplier</label
          >
          <div class="col-md-7">
            <select
              class="form-control"
              id="SupplierId"
              name="SupplierId"
              #SupplierId="ngModel"
              [(ngModel)]="model.SupplierId"
            >
              <option *ngFor="let item of supplierList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div> -->

        <!-- <div class="form-group row">
                        <label for="File" class="col-md-3 col-form-label">File</label>
                        <div class="col-md-7">
                            <input type="file" #fileInput (change)="onChangeFile($event.target.files)">
                        </div>
                    </div> -->
      </div>
    </div>

    <hr />

    <form #formRow="ngForm" (ngSubmit)="onNewLine(formRow)">
      <div class="row">
        <div class="col">
          {{ 'Model.Order.Subject' | translate }}
          <ng-select
            [items]="subjectList"
            bindLabel="Name"
            bindValue="Id"
            ngModel
            name="BookSubjectId"
            required
            (change)="getPrice(formRow)"
          >
          </ng-select>
        </div>
        <div class="col">
          {{ 'Model.Order.Grade' | translate }}
          <ng-select
            [items]="gradeList"
            bindLabel="Name"
            bindValue="Id"
            (change)="getPrice(formRow)"
            ngModel
            name="BookGradeLavelId"
            required
          >
          </ng-select>
        </div>
        <div class="col">
          {{ 'Model.Order.Language' | translate }}
          <ng-select
            [items]="languageList"
            bindLabel="Name"
            bindValue="Id"
            (change)="getPrice(formRow)"
            ngModel
            name="BookLanguageId"
            required
          >
          </ng-select>
        </div>

        <div class="col">
          {{ 'Model.Order.Price' | translate }}
          <input
            type="text"
            disabled
            class="form-control"
            [(ngModel)]="BookPrice"
            name="BookPrice"
            required
          />
        </div>

        <div class="col">
          {{ 'Model.Order.Quantity' | translate }}
          <input
            type="text"
            class="form-control"
            ngModel
            name="Quantity"
            required
          />
        </div>

        <div class="col">
          <button
            type="button"
            class="btn m-1 btn-primary mt-4"
            [disabled]="!formRow.valid"
            (click)="onNewLine(formRow)"
          >
            {{ 'Model.Order.AddNew' | translate }}
          </button>
        </div>
      </div>
    </form>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead class="bg-info">
            <tr>
              <th>#</th>
              <th>{{ 'Model.Order.Subject' | translate }}</th>
              <th>{{ 'Model.Order.Grade' | translate }}</th>
              <th>{{ 'Model.Order.Language' | translate }}</th>     
              <th>{{ 'Model.Order.Quantity' | translate }}</th>
             <th> {{ 'Model.Order.Price' | translate }}</th>
             <th>{{ 'Model.Order.TotalPrice' | translate }}</th>
             <th>{{ 'Model.Order.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderLine of orderVmList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ orderLine.BookSubjectName }}
              </td>
              <td>
                {{ orderLine.BookGradeName }}
              </td>
              <td>
                {{ orderLine.BookLanguageName }}
              </td>
              <td>
                <input type="number" name="Quantity + '_' + {{i}}" (keyup)="getTotalAmountForVm()" [(ngModel)]="orderLine.Quantity" class="form-control"/>
                <!-- {{ orderLine.Quantity }} -->
              </td>
              <td>
                {{ orderLine.BookPrice }}
              </td>
              <td>
                {{ orderLine.BookPrice * orderLine.Quantity }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn m-1 btn-sm btn-danger"
                  (click)="onDeleteLine(i)"
                >
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="Amount" class="col-md-3 col-form-label"
            >{{ 'Model.Order.TotalAmount' | translate }}</label
          >
          <div class="col-md-7">
            <input
              type="number"
              class="form-control"
              id="Amount"
              name="Amount"
              #Amount="ngModel"
              [(ngModel)]="model.Amount"
              placeholder="Amount"
              required
              disabled
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="Note" class="col-md-3 col-form-label">
            {{ 'Model.Order.Note' | translate }}
          </label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="Note"
              name="Note"
              #Note="ngModel"
              [(ngModel)]="model.Note"
              placeholder="Note"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="form-group row">
          <button
            type="button"
            class="btn btn-success m-1"
            [disabled]="!form.valid || orderVmList.length == 0 || !model.BookstoreEmployeeId"
            (click)="onSubmit('/order/list')"
          >
            {{ 'Model.Order.SubmitRequest' | translate }}
          </button>
          <!-- <button
            type="button"
            class="btn btn-default m-1 col-md-3"
            (click)="reset()"
          >
            Cancel
          </button> -->
        </div>
      </div>
    </div>
  </form>
</div>
