<div *ngIf="currentUser.Role == 'Bookstore Manager'">
  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.BookRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
       
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model.PendingRequest }}</h3>

              <p>{{ 'Dashboard.PendingBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('pending')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model.ApprovedRequest }}</h3>

              <p>{{ 'Dashboard.ApprovedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ model.RejectedRequest }}</h3>
              <p>{{ 'Dashboard.RejectedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('rejected')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{ model.TotalRequest }}</h3>
              <p>{{ 'Dashboard.TotalBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('total')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.PurchaseRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
       

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model.PurchasePendingRequest }}</h3>

              <p>{{ 'Dashboard.PendingPurchaseRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onPurchaseRequestClick('pending')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model.PurchaseApprovedRequest }}</h3>

              <p>{{ 'Dashboard.ApprovedPurchaseRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onPurchaseRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ model.PurchaseRejectedRequest }}</h3>
              <p>{{ 'Dashboard.RejectedPurchaseRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onPurchaseRequestClick('rejected')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{ model.PurchaseTotalRequest }}</h3>
              <p>{{ 'Dashboard.TotalPurchaseRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onPurchaseRequestClick('total')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.SubcityStockRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model.PendingSubcityStoreRequest }}</h3>
              <p>{{ 'Dashboard.PendingStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('pending')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model.ApprovedSubcityStoreRequest }}</h3>

              <p>{{ 'Dashboard.ApprovedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model.CompletedSubcityStoreRequest }}</h3>
              <p>{{ 'Dashboard.CompletedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('completed')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ model.RejectedSubcityStoreRequest }}</h3>
              <p>{{ 'Dashboard.RejectedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('rejected')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{ model.TotalSubcityStoreRequest }}</h3>
              <p>{{ 'Dashboard.TotalStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('total')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-secondary">
    <div class="card-header">
      <h6 class="card-title">{{ 'Dashboard.Summary' | translate }}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{ model.TotalBook }}</h3>
              <p>{{ 'Dashboard.TotalBookInStock' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book"></i>
            </div>
            <a (click)="onBookStock()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model.TotalPurchase }}</h3>
              <p>{{ 'Dashboard.TotalPurchase' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-university"></i>
            </div>
            <a (click)="onTotalPurchase()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">{{ 'Dashboard.BookRequestInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.WeekChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisWeek)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.MonthChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisMonth)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-4">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorScheme"
            [results]="model.YearChartData"
            [gradient]="gradient"
            label="{{ 'Dashboard.Total(ThisYear)' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-success">
    <div class="card-header">{{ 'Dashboard.BookInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForSub"
            [scheme]="colorScheme"
            [results]="model.SubjectChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookSubject' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForGrade"
            [scheme]="colorScheme"
            [results]="model.GradeChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookGrade' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="col-4" style="max-width: 500px; overflow: auto">
          <ngx-charts-bar-vertical
            [view]="viewForLang"
            [scheme]="colorScheme"
            [results]="model.LanguageChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Model.Book.BookLanguage' | translate }}"
            yAxisLabel="{{ 'Model.Book.AvailableQty' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-info">
    <div class="card-header">{{ 'Dashboard.OtherInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <ngx-charts-bar-vertical
            [view]="viewForUserInfo"
            [scheme]="colorScheme"
            [results]="model.UserInfoChartdata"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ 'Dashboard.OtherInfo' | translate }}"
            yAxisLabel="{{ 'Model.Book.Quantity' | translate }}"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-info">
    <div class="card-header">{{ 'Dashboard.BudgetInformation' | translate }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <ngx-charts-advanced-pie-chart
            [view]="viewForPie"
            [scheme]="colorSchemeForBudget"
            [results]="model.BudgetChartdata"
            [gradient]="gradient"
            label="{{ 'Dashboard.TotalBudget' | translate }}"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)" 
          >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
