<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ 'Report.BookRequestReport' | translate }}</h3>
  </div>
  <div class="card-body">
    <hr />

    <div class="row">

      <div class="col">
        <div class="form-group">
          {{ 'Report.StartDate' | translate }}
          <div>
            <input type="text" placeholder="Start Date"  class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.FromDate" name="FromDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ 'Report.EndDate' | translate }}
          <div>
            <input type="text" placeholder="End Date" class="form-control" bsDatepicker required
              [(ngModel)]="searchVm.ToDate" name="ToDate" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="col" *ngIf="currentUser.Role != 'School Employee'">
        {{ 'Report.SchoolName' | translate }}
        <ng-select [items]="schoolList" [(ngModel)]="searchVm.SchoolId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>

      <div class="col">
        {{ 'Report.Status' | translate }}
        <ng-select [items]="statusList" [(ngModel)]="searchVm.Status" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>

      <div class="col">
              <div class="form-group">
                {{ 'Report.TrackingNo' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="TrackingNo"
                    name="TrackingNo"
                    #TrackingNo="ngModel"
                    [(ngModel)]="searchVm.TrackingNo"
                    placeholder="Search By Tracking No."
                    required
                  />
                </div>
              </div>
            </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-10 mt-3">
        <button class="btn bg-gradient-primary btn-block" (click)="getBySearch()">
          <i class="fa fa-search"></i> {{ 'Button.Search' | translate }}
        </button>
      </div>
    </div>
    <hr />

    <button  *ngIf="orderList.length>0" class="btn btn-success" (click)="exportAsExcel()"> <i class=" fas fa-file-excel"></i> {{ 'Button.ExportAsExcel' | translate }}</button>
<hr />
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'Report.TrackingNo' | translate }}.</th>
          <th>{{ 'Report.SchoolName' | translate }}</th>
          <th>{{ 'Report.Date' | translate }}</th>
          <th>{{ 'Report.Amount' | translate }}</th>
          <th>{{ 'Report.ReasonForReject' | translate }}</th>
          <th>{{ 'Report.Status' | translate }}</th>
          <!-- <th *ngIf="currentUser.Role=='Bookstore Employee'">Reviewed By Manager</th> -->
          <th>{{ 'Report.Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let item of orderList
              | paginate: { itemsPerPage: 10, currentPage: p };
            let i = index
          ">
          <th scope="row">{{ p * 10 - 10 + 1 + i }}</th>
          <td>{{ item.TrackingNo }}</td>
          <td>{{ item.School.Name }}</td>

          <td>{{ item.OrderDate | date }}</td>
          <td>{{ item.Amount }}</td>
          <td>{{ item.ReasonForReject ? item.ReasonForReject : "-" }}</td>

          <td>
            <span *ngIf="item.Status == 1 || item.Status == 2 || item.Status == 3 || item.Status == 6"
              class="badge badge-warning">Pending</span>
            <span *ngIf="item.Status == 7" class="badge badge-primary">Completed</span>
            <span *ngIf="item.Status == 4" class="badge badge-success">Approved</span>
            <span *ngIf="item.Status == 5 " class="badge badge-danger">Rejected</span>
            <!-- <span *ngIf="currentUser.Role=='SchoolEmployee' && item.Status==5" class="badge badge-info">Collect
                            your book from the store</span>
                        <span *ngIf="currentUser.Role=='HOEmployee'||currentUser.Role=='HOManager' && item.Status==5"
                            class="badge badge-info">Bank Slip uploaded</span> -->
          </td>

          <td>
            <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)">
              {{ 'Button.Detail' | translate }}
            </button>

            <button *ngIf="currentUser.Role != 'Supplier' && item.Status == 7" type="button"
              class="btn m-1 btn-sm btn-success" (click)="onClickReceipt(item.Id)">
              {{ 'Button.Receipt' | translate }}
            </button>
          </td>
        </tr>
        <tr *ngIf="!orderList" class="text-center">
          <td colspan="7">
            <h6>Loading data...</h6>
          </td>
        </tr>
        <tr *ngIf="orderList && orderList.length == 0" class="text-center">
          <td colspan="7">
            <h6>There are no record</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
