/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.navbar-white {
    background-color: rgb(2, 228, 236);
}

.hand-hover:hover{
    cursor: pointer;
}

table>thead{
    background-color:rgb(5, 131, 193);
    color: white;
}