<div class="card-header">
  <h3 class="card-title">Make a Purchase</h3>

  <div class="card-tools">
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="collapse"
      data-toggle="tooltip"
      title="Collapse"
    >
      <i class="fas fa-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-tool"
      data-card-widget="remove"
      data-toggle="tooltip"
      title="Remove"
      (click)="modalRef.hide()"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group row">
          <label for="SupplierId" class="col-md-3 col-form-label">Supplier</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="SupplierId"
              name="SupplierId"
              #SupplierId="ngModel"
              [(ngModel)]="purchaseBook.SupplierId"
              required
            >
              <option *ngFor="let item of supplierList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="BudgetTypeId" class="col-md-3 col-form-label">Budget Type</label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="BudgetTypeId"
              name="BudgetTypeId"
              #BudgetTypeId="ngModel"
              [(ngModel)]="purchaseBook.BudgetTypeId"
              required
              (change)="getBudgetAmount(purchaseBook.BudgetTypeId)"
            >
              <option *ngFor="let item of budgetTypeList" [value]="item.Id">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="budgetAmount" class="col-md-3 col-form-label">Budget Amount</label>
          <div class="col-md-7">
            <input
            type="text"
            name="budgetAmount"
            class="form-control"
            [(ngModel)]="budgetAmount"
            disabled
          />
          </div>
        </div>

       

      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead class="bg-info">
            <tr>
              <th>#</th>
              <th>Subject</th>
              <th>Grade</th>
              <th>Language</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderLine of orderVmList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ orderLine.BookSubjectName }}
              </td>
              <td>
                {{ orderLine.BookGradeName }}
              </td>
              <td>
                {{ orderLine.BookLanguageName }}
              </td>
              <td>
                {{ orderLine.Quantity }}
              </td>
              <td>
                {{ orderLine.BookPrice }}
              </td>
              <td>
                {{ orderLine.BookPrice * orderLine.Quantity }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-10">
        <div class="form-group row">
          <label for="Amount" class="col-md-3 col-form-label"
            >Total Amount</label
          >
          <div class="col-md-7">
            <input
              type="number"
              class="form-control"
              id="Amount"
              name="Amount"
              #Amount="ngModel"
              [(ngModel)]="model.Amount"
              placeholder="Amount"
              required
              disabled
            />
          </div>
        </div>

                
        <div class="form-group row">
          <label for="TransactionTrackingNumber" class="col-md-3 col-form-label">Transaction Tracking Number</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="TransactionTrackingNumber"
              name="TransactionTrackingNumber"
              #TransactionTrackingNumber="ngModel"
              [(ngModel)]="purchaseBook.TransactionTrackingNumber"
              placeholder="Transaction Tracking Number"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="ReferenceNumber" class="col-md-3 col-form-label">Reference Number</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="ReferenceNumber"
              name="ReferenceNumber"
              #ReferenceNumber="ngModel"
              [(ngModel)]="purchaseBook.ReferenceNumber"
              placeholder="Reference Number"
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="Note" class="col-md-3 col-form-label">Note</label>
          <div class="col-md-7">
            <input
              type="text"
              class="form-control"
              id="Note"
              name="Note"
              #Note="ngModel"
              [(ngModel)]="model.Note"
              placeholder="Note"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="form-group row">
          <button
            type="button"
            class="btn btn-success m-1"
            [disabled]="!form.valid || orderVmList.length == 0"
            (click)="onSubmit('/order/list')"
          >
            Purchase Now
          </button>
          <!-- <button
            type="button"
            class="btn btn-default m-1 col-md-3"
            (click)="reset()"
          >
            Cancel
          </button> -->
        </div>
      </div>
    </div>
  </form>
</div>


