<div class="col-md-6 offset-3">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ 'Model.School.CreateSchool' | translate }}</h3>
    </div>
    <div class="card-body">
      <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.SchoolName' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="Name"
                    name="Name"
                    #Name="ngModel"
                    [(ngModel)]="model.Name"
                    placeholder="Enter School Name"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.Subcity' | translate }}
                <ng-select
                  [items]="schoolSubcityList"
                  [(ngModel)]="model.SchoolSubcityId"
                  [ngModelOptions]="{standalone: true}"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select a Subcity"
                  required
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.Woreda' | translate }}
                <ng-select
                  [items]="schoolWoredaList"
                  [(ngModel)]="model.SchoolWoredaId"
                  [ngModelOptions]="{standalone: true}"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Woreda"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.Woreda1' | translate }}
                <ng-select
                  [items]="schoolWoreda1List"
                  [(ngModel)]="model.Woreda1Id"
                  [ngModelOptions]="{standalone: true}"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Woreda 1"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.Level' | translate }}
                <ng-select
                  [items]="schoolLavelList"
                  [(ngModel)]="model.SchoolLavelId"
                  [ngModelOptions]="{standalone: true}"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Level"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.Ownership' | translate }}
                <ng-select
                  [items]="schoolOwnershipList"
                  [(ngModel)]="model.SchoolOwnershipId"
                  [ngModelOptions]="{standalone: true}"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Ownership"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.School.NumberOfStudents' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="NumberOfStudent"
                    name="NumberOfStudent"
                    #NumberOfStudent="ngModel"
                    [(ngModel)]="model.NumberOfStudent"
                    placeholder="Enter School Number Of Student"
                    required
                  />
                </div>
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label"></label>
                <div>
                  <button
                    type="button"
                    class="btn btn-success col-md-3 m-1"
                    [disabled]="!form.valid || !model.SchoolSubcityId || !model.SchoolWoredaId || !model.Woreda1Id || !model.SchoolLavelId || !model.SchoolOwnershipId"
                    (click)="onSubmit()"
                  >
                    <i class="fas fa-save"></i>&nbsp; &nbsp;{{ 'Button.Create' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </form>
    </div>
  </div>
</div>
