<div class="row forbidden">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="../../../../assets/img/403.png" style="height:400px;width:400px;">
      </div>
      <div class="card-content text-center">
        <p  style="color:#039be5">403 - ACCESS DENIED</p>
        <p>You don't have the permission to access this resource.</p>
      </div>
    </div>
  </div>
</div>