<div class="card-header">
  <h3 class="card-title">{{ 'Model.PurchaseBook.RequestForPurchase' | translate }}</h3>

  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove"
      (click)="modalReff.hide()">
      <i class="fas fa-times"></i></button>
  </div>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm"  (ngSubmit)="onSubmit(form)">
    <div class="card-body">
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class=" control-label">{{ 'Model.PurchaseBook.BookManager' | translate }}</label>
              <ng-select  [items]="managerList" bindLabel="FullName" bindValue="Id"
                id="BookGradeId" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.BookstoreManagerId" required>
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class=" form-group">
              <label class=" control-label">{{ 'Model.PurchaseBook.PurchaseDepartment' | translate }}</label>
              <ng-select [items]="purchaseEmployeeList" title="Purchase Dept." bindLabel="FullName" bindValue="Id"
                id="BookGradeId"  [ngModelOptions]="{standalone: true}"
                [(ngModel)]="model.PurcahseDeptEmployeeId" required>
              </ng-select>
            </div>

          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'Model.Book.BookSubject' | translate }}</th>
                <th>{{ 'Model.Book.BookGrade' | translate }}</th>
                <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
                <th>{{ 'Model.Book.Quantity' | translate }}</th>
                <th>
                  {{ 'Model.Book.AvailableQty' | translate }}
                  
                </th>
                <th>
                  {{ 'Model.Book.PurchasedQuantiy' | translate }}
                  
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of model.PurchaseLines; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.BookSubject?item.BookSubject.Name:''}}</td>
                <td>{{item.BookGradeLavel?item.BookGradeLavel.Name:''}}</td>
                <td>{{item.BookLanguage?item.BookLanguage.Name:''}}</td>
                <td>{{item.Quantity}}</td>
                <td>
                  {{item.AvailableQty}}
                </td>
                <td>
                  <input type="text" class="form-control" [value]="item.Quantity - item.AvailableQty" name="PurchaseQuantity" [(ngModel)]="item.PurchaseQuantity" required/>              
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <button type="submit" class="btn btn-info m-1" [disabled]="!form.valid || !model.BookstoreManagerId || !model.PurcahseDeptEmployeeId">{{ 'Button.SubmitRequest' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
