<div *ngIf="currentUser.Role == 'School Employee'">
  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.BookRequest' | translate }}</h5>
    </div>
    <div class="card-body">

      <div class="row">

        <div class="col">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model? model.PendingRequest:"" }}</h3>

              <p>{{ 'Dashboard.UnderReviewBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('pending')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{model? model.ApprovedRequest:"" }}</h3>

              <p>{{ 'Dashboard.ApprovedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('approved')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{model? model.CompletedRequest:"" }}</h3>

              <p>{{ 'Dashboard.CompletedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('completed')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{model? model.RejectedRequest : ""}}</h3>
              <p>{{ 'Dashboard.RejectedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('rejected')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        
        <div class="col">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{model ? model.TotalRequest : ""}}</h3>
              <p>{{ 'Dashboard.TotalRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a (click)="onRequestClick('total')" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.BookStockInformation' | translate }}</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{model? model.TotalBook: ""}}</h3>
              <p>{{ 'Dashboard.TotalBookInStock' | translate }}</p>
            </div>
            <div class="icon">

              <i class="ion ion-ios-book"></i>
            </div>
            <a (click)="onBookStock()" class="small-box-footer hand-hover">View <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
