<div class="card">
  <div class="card-header bg-primary" >
    {{ 'FormTitle.SchoolStock' | translate }}
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col" *ngIf="currentUser.Role == 'Bookstore Manager'">
        {{ 'Model.School.SchoolName' | translate }}
        <ng-select [items]="schoolList"  [(ngModel)]="model.SchoolId" bindLabel="Name" bindValue="Id" placeholder="ALL">
        </ng-select>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookSubject' | translate }}
            <ng-select
              [items]="subjectList"
              [(ngModel)]="model.BookSubjectId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
            {{ 'Model.Book.BookLanguage' | translate }}
            <ng-select
              [items]="languageList"
              [(ngModel)]="model.BookLanguageId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">

                <div class="form-group">
            {{ 'Model.Book.BookGrade' | translate }}
            <ng-select
              [items]="gradeLavelList"
              [(ngModel)]="model.BookGradeLavelId"
              [ngModelOptions]="{ standalone: true }"
              bindLabel="Name"
              bindValue="Id"
              placeholder="ALL"
            >
            </ng-select>
          </div>
      </div>
      <div class="col">
        <div class="form-group ">
          <label for="btnSearch" class="col-form-label "> </label><br>
            <button type="button" class="btn btn-info"
              (click)="onSearch()"><i class="fa fa-search"></i> {{ 'Button.Search' | translate }}
                </button>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'Model.Book.BookSubject' | translate }}</th>
          <th>{{ 'Model.Book.BookGrade' | translate }}</th>
          <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
          <th>{{ 'Model.Book.StockQuantity' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stockList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.BookSubject ? item.BookSubject.Name : "" }}</td>
          <td>
            {{ item.BookGrade ? item.BookGrade.Name : "" }}
          </td>
          <td>
            {{ item.BookLanguage ? item.BookLanguage.Name : "" }}
          </td>
          <td>{{ item.Quantity }}</td>
        </tr>
      </tbody>
    </table>
        </div>
    </div>

  </div>
</div>
