<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ 'Model.Common.GradeLevelList' | translate }}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a
          *ngIf="currentUser.Role == 'Main Admin'"
          class="btn m-1 btn-sm bg-gradient-success"
          [routerLink]="[createLink]"
        >
          <i class="fas fa-plus"></i> {{ 'Model.Common.CreateNew' | translate }}</a
        >
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Common.GradeLevelName' | translate }}</th>
              <th *ngIf="currentUser.Role == 'Main Admin'">{{ 'Model.Common.Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of modelList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.Name ? item.Name : "" }}</td>
              <td *ngIf="currentUser.Role == 'Main Admin'">
                <button
                  type="button"
                  class="btn m-1 btn-sm btn-primary"
                  title="Edit"
                  (click)="onEdit(item.Id)"
                >
                  <i class="fas fa-pencil-alt"> </i>
                </button>
                <button
                  type="button"
                  class="btn m-1 btn-sm btn-danger"
                  title="Delete"
                  (click)="onDelete(item.Id, item, apiUrl)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="!modelList" class="text-center">
              <td colspan="7">
                <h6>Loading data...</h6>
              </td>
            </tr>
            <tr *ngIf="modelList && modelList.length == 0" class="text-center">
              <td colspan="7">
                <h6>There are no record</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
