
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Data</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <pre>{{data.data | json}}</pre> 
      </div>
    </div>
  </div>
</div>
