<div *ngIf="currentUser.Role == 'Bookstore Employee'">
  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.BookRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model != null ? model.PendingRequest : 0 }}</h3>
              <p>{{ 'Dashboard.PendingBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('pending')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model != null ? model.UnderReviewRequest : "" }}</h3>
              <p>{{ 'Dashboard.UnderReviewBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('under-review')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ model != null ? model.PendingForOutOfStock : "" }}</h3>
              <p>{{ 'Dashboard.PendingForOutOfStock' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('outOfStock')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>
                {{ model != null ? model.PendingWithBankSlipRequest : "" }}
              </h3>
              <p>{{ 'Dashboard.PendingRequestForBankSlip' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('pendingForBankSlip')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model != null ? model.ApprovedRequest : "" }}</h3>
              <p>{{ 'Dashboard.ApprovedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model != null ? model.CompletedRequest : "" }}</h3>
              <p>{{ 'Dashboard.CompletedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('completed')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ model != null ? model.RejectedRequest : "" }}</h3>
              <p>{{ 'Dashboard.RejectedBookRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onRequestClick('rejected')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.SubcityStockRequest' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <!-- small box -->
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>{{ model.ApprovedSubcityStoreRequest }}</h3>

              <p>{{ 'Dashboard.ApprovedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('approved')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-3">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model.CompletedSubcityStoreRequest }}</h3>
              <p>{{ 'Dashboard.CompletedStockRequest' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-copy"></i>
            </div>
            <a
              (click)="onSubcityStockRequestClick('completed')"
              class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-secondary">
    <div class="card-header">
      <h5 class="card-title">{{ 'Dashboard.Summary' | translate }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{ model != null ? model.TotalBook : "" }}</h3>
              <p>{{ 'Dashboard.TotalBookInStock' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book"></i>
            </div>
            <a (click)="onBookStock()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-cyan">
            <div class="inner">
              <h3>{{ model != null ? model.TotalSchool : "" }}</h3>
              <p>{{ 'Dashboard.TotalRegisteredSchool' | translate }} </p>
            </div>
            <div class="icon">
              <i class="ion ion-university"></i>
            </div>
            <a (click)="onTotalSchool()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ model != null ? model.TotalPurchase : "" }}</h3>
              <p>{{ 'Dashboard.TotalPurchase' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a (click)="onTotalPurchase()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ model != null ? model.TotalBankSlip : "" }}</h3>
              <p>{{ 'Dashboard.TotalBankSlip' | translate }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a (click)="onTotalBankSlip()" class="small-box-footer hand-hover"
              >View <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
