<div class="card-header">
  <h3 class="card-title">{{ 'FormTitle.RequestForPurchase' | translate }}</h3>

  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="modalRef.hide()" data-toggle="tooltip"
      title="Remove">
      <i class="fas fa-times"></i></button>
  </div>
</div>
<div class="card-body">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div><u>{{ 'Model.PurchaseBook.RequestedBy' | translate }}</u> : {{model.BookstoreEmployee ? model.BookstoreEmployee.FullName : ""}}</div>
          <div *ngIf="currentUser.Role=='Purchase Department' && model.Status==2">Approved By : {{model.BookstoreManager ? model.BookstoreManager.FullName : ""}}</div>
        </div>
      </div>
      <div class="col-md-6">
            <div class=" form-group">
              <div> <span class=""><u>{{ 'Model.PurchaseBook.PurchaseDepartment' | translate }}</u> :</span>  {{model.PurcahseDeptEmployee ? model.PurcahseDeptEmployee.FullName: ""}} </div>
            </div>

          </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Model.Book.BookSubject' | translate }}</th>
              <th>{{ 'Model.Book.BookGrade' | translate }}</th>
              <th>{{ 'Model.Book.BookLanguage' | translate }}</th>
              <th>{{ 'Model.Book.Quantity' | translate }}</th>
              <th>
                {{ 'Model.Book.AvailableQty' | translate }}
              </th>
              <th>
                {{ 'Model.Book.PurchasedQuantiy' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.PurchaseLines; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.BookSubject?item.BookSubject.Name:''}}</td>
              <td>{{item.BookGradeLavel?item.BookGradeLavel.Name:''}}</td>
              <td>{{item.BookLanguage?item.BookLanguage.Name:''}}</td>
              <td>{{item.Quantity}}</td>
              <td>
                {{item.AvailableQty}}
              </td>
              <td>
                {{ item.PurchaseQuantity}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <span *ngIf="currentUser.Role=='Bookstore Manager' && model.Status ==1">
            <button type="button" class="btn btn-success m-1" (click)="onApproved()">{{ 'Button.Approve' | translate }}</button>
            <button type="button" class="btn btn-danger m-1" (click)="onRejected()">{{ 'Button.Reject' | translate }}</button>
          </span>

          <button *ngIf="currentUser.Role=='Purchase Department' && model.Status==2" type="button" class="btn btn-success m-1"
            (click)="onPurchase()">{{ 'Button.PurchaseNow' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
