<div class="card-header">
    <h3 class="card-title">{{ 'Model.Book.UpdateBook' | translate }}</h3>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">

    <form class="form-horizontal" #form="ngForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 offset-3">
              <div class="form-group">
                <label for="BookSubjectId" class=" col-form-label">{{ 'Model.Book.BookSubject' | translate }}</label>
                <select class="form-control" id="BookSubjectId" #BookSubjectId="ngModel" name="BookSubjectId" [(ngModel)]="model.BookSubjectId" required>
                  <option *ngFor="let item of subjectList" [value]="item.Id">
                    {{item.Name}}
                  </option>
                </select>
                <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="BookSubjectId.touched && BookSubjectId.invalid">
                    The field is Required
                  </span>
              </div>
    
              <div class="form-group ">
                <label for="BookLanguageId" class="col-form-label">  {{ 'Model.Book.BookLanguage' | translate }}</label>
                <select class="form-control" id="BookLanguageId" name="BookLanguageId" #BookLanguageId="ngModel"
                  [(ngModel)]="model.BookLanguageId" required>
                  <option *ngFor="let item of languageList" [value]="item.Id">
                    {{item.Name}}
                  </option>
                </select>
                <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="BookLanguageId.touched && BookLanguageId.invalid">
                    The field is Required
                  </span>
              </div>
    
              <div class="form-group ">
                <label for="BookGradeLavelId" class="col-form-label">{{ 'Model.Book.BookGrade' | translate }}</label>
                <select class="form-control" id="BookGradeLavelId" name="BookGradeLavelId" #BookGradeLavelId="ngModel"
                  [(ngModel)]="model.BookGradeLavelId" required>
                  <option *ngFor="let item of gradeLavelList" [value]="item.Id">
                    {{item.Name}}
                  </option>
                </select>
    
                <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="BookGradeLavelId.touched && BookGradeLavelId.invalid">
                    The field is Required
                  </span>
    
              </div>

              <div class="form-group ">
            <label for="PageNo" class="col-form-label">{{ 'Model.Book.PageNo' | translate }}</label>
            <input type="number" class="form-control" id="PageNo" name="PageNo" #PageNo="ngModel" [(ngModel)]="model.PageNo"
              placeholder="Total Page of Book" required>

              <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="PageNo.touched && PageNo.invalid">
                The field is Required
              </span>
          </div>

    
              <div class="form-group ">
                <label for="PurchasePrice" class="col-form-label">{{ 'Model.Book.PurchasePrice' | translate }}</label>
                <input type="number" class="form-control" id="PurchasePrice" name="PurchasePrice" #PurchasePrice="ngModel" [(ngModel)]="model.PurchasePrice"
                  placeholder="Enter Purchase Price of Book" required>
    
                  <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="PurchasePrice.touched && PurchasePrice.invalid">
                    The field is Required
                  </span>
              </div>
    
              <div class="form-group ">
                <label for="SalePrice" class="col-form-label">{{ 'Model.Book.SalesPrice' | translate }}</label>
                <input type="number" class="form-control" id="SalePrice" name="SalePrice" #SalePrice="ngModel" [(ngModel)]="model.SalePrice"
                  placeholder="Enter Sale Price of Book" required>
                  <span class="alert p-1 mt-1 text-danger font-weight-bold" *ngIf="SalePrice.touched && SalePrice.invalid">
                    The field is Required
                  </span>
              </div>
    
              <div class="form-group ">
                <button type="button" class="btn btn-info m-1" [disabled]="!form.valid"
                (click)="onSubmit()">{{ 'Button.Update' | translate }}</button>
            <button type="button" class="btn btn-default m-1" (click)="reset()">{{ 'Button.Cancel' | translate }}</button>
              </div>
    
            </div>
          </div>
        </div>
      </form>
</div>