<div class="card-header bg-info">
    <h3 class="card-title ">{{ 'Model.Common.UpdateWoreda' | translate }}</h3>

    <button type="button" class="close pull-right" style="color: white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
  <form class="form-horizontal" #form="ngForm">
    <div class="card-body">
      <div class="row">
       <div class="col-md-12">
              <div class="form-group">
                {{ 'Model.Common.WoredaName' | translate }}
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="Name"
                    name="Name"
                    #Name="ngModel"
                    [(ngModel)]="model.Name"
                    placeholder="Enter Name"
                    required
                  />
                </div>
              </div>
            </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-form-label"></label>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-3 m-1"
                [disabled]="!form.valid "
                (click)="onUpdate()"
              >
                <i class="fas fa-edit"></i>&nbsp; &nbsp;{{ 'Model.Common.Update' | translate }}
              </button>
              <button type="button" class="btn btn-default m-1 col-md-3" (click)="reset()">{{ 'Model.Common.Cancel' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



