<div class="card card-primary">

    <div class="card-header">
        <h3 class="card-title">{{ 'Model.User.UserList' | translate }}</h3>
    </div>
    <div class="card-body">
        <a class="btn m-1 btn-sm bg-gradient-success" [routerLink]="[createLink]"><i class="fas fa-plus"></i>  {{ 'Button.CreateNew' | translate }}</a>
    <hr>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'Model.User.EmployeeId' | translate }}</th>
                    <th>{{ 'Model.User.FullName' | translate }}</th>
                    <th>{{ 'Model.User.Email' | translate }}</th>
                    <th>{{ 'Model.User.Role' | translate }}</th>
                    <th>{{ 'Model.User.Approvement' | translate }}</th>
                    <th>{{ 'Model.User.Status' | translate }}</th>
    
                    <th>{{ 'Model.User.Actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of modelList; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.EmployeeId}}</td>
                    <td>{{item.FirstName?item.FirstName:""}} {{item.SecondName ? item.SecondName:""}} {{ item.LastName ? item.LastName:""}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Role.Name}}</td>
                    <td *ngIf="item.IsApproved"><span class=" badge badge-success">Approved</span></td>
                    <td *ngIf="!item.IsApproved"><span class=" badge badge-warning">Not Approved</span></td>
                    <td *ngIf="item.IsActive"><span class=" badge badge-success">Active</span></td>
                    <td *ngIf="!item.IsActive"><span class=" badge badge-warning">Inactive</span></td>
    
                    <td >
                        <button type="button" class="btn m-1 btn-sm btn-info" title="Detail" (click)="onDetail(item.Id)">
                      <i class="fas fa-eye"></i> 
                    </button>
                    <button type="button" class="btn m-1 btn-sm btn-primary" title="Edit" (click)="onEdit(item.Id)">
                      <i class="fas fa-pencil-alt"> </i>
                    </button>
                    <button *ngIf="item.Role.Name !='Main Admin'" type="button" class="btn m-1 btn-sm btn-danger" title="Delete" (click)="onDelete(item.Id,item,apiUrl)">
                      <i class="fas fa-trash"></i> 
                    </button>
                    </td>
                </tr>
                <tr *ngIf="!modelList" class="text-center">
                    <td colspan="8">
                        <h6>Loading data...</h6>
                    </td>
                </tr>
                <tr *ngIf="modelList && modelList.length==0" class="text-center">
                    <td colspan="8">
                        <h6>There are no record</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>